﻿@using PR.Building4U.WebUI.Helper

<div class="form">
    @Html.Hidden("hidIdUnidade")
    <div class="row">
        <div class="col-xlg-2 col-lg-4 col-md-3 col-sm-6 col-6">
            @Html.Input("inpSiglaUnidade", "", true, "Sigla", "", new { @class = "form-control", @maxlength = "8" })
        </div>
        <div class="col-xlg-4 col-lg-6 col-md-7 col-sm-12 col-12">
            @Html.Input("inpNomeUnidade", "", true, "Nome", "", new { @class = "form-control", @maxlength = "30" })
        </div>
    </div>
</div>