﻿@using PR.Building4U.WebUI.Helper

<div class="form">
    <div class="row">
        @Html.Hidden("hidIdFuncionario")
        <div class="col-xlg-1 col-lg-2 col-md-3 col-sm-5 col-5">
            @Html.InputNumerico("inpChapaFuncionario", "", true, "Chapa", "", new { @class = "form-control", @maxlength = "7" })
        </div>
        <div class="col-xlg-2 col-lg-3 col-md-4 col-sm-7 col-7">
            @Html.InputData("inpAdmissaoFuncionario", null, true, "Admissão", "", new { @class = "form-control" })
        </div>
        <div class="col-xlg-4 col-lg-9 col-md-12 col-sm-12 col-12">
            @Html.Input("inpNomeFuncionario", "", true, "Nome", "", new { @class = "form-control", @maxlength = "50" })
        </div>
        <div class="col-xlg-4 col-lg-9 col-md-12 col-sm-12 col-12">
            @Html.InputEmail("inpEmailFuncionario", "", false, "Email", "", new { @class = "form-control", @maxlength = "50" })
        </div>
        <div class="col-xlg-2 col-lg-4 col-md-5 col-sm-8 col-8">
            @Html.InputTelefone("inpTelefoneFuncionario", "", false, "Telefone", "", new { @class = "form-control" })
        </div>
        <div class="col-xlg-2 col-lg-5 col-md-7 col-sm-12 col-12">
            @Html.Select("selIdCargo", null, true, "Cargo", new { @class = "form-control select2" })
        </div>
        <div class="col-xlg-2 col-lg-5 col-md-7 col-sm-12 col-12">
            @Html.Select("selIdObra", null, true, "Obra", new { @class = "form-control select2" })
        </div>
    </div>
    <div class="block-title">Endereço:</div>
    <div class="block row">
        @Html.Hidden("hidIdEndereco")
        <div class="col-xlg-4 col-lg-9 col-md-12 col-sm-12 col-12">
            @Html.Input("inpLogradouroEndereco", "", true, "Logradouro", "", new { @class = "form-control", @maxlength = "50" })
        </div>
        <div class="col-xlg-1 col-lg-4 col-md-3 col-sm-4 col-4">
            @Html.Input("inpNumeroEndereco", "", false, "Número", "", new { @class = "form-control", @maxlength = "10" })
        </div>
        <div class="col-xlg-2 col-lg-4 col-md-4 col-sm-8 col-8">
            @Html.InputCep("inpCepEndereco", "", false, "CEP", "", new { @class = "form-control" })
        </div>
        <div class="col-xlg-2 col-lg-4 col-md-6 col-sm-12 col-12">
            @Html.Input("inpComplementoEndereco", "", false, "Complemento", "", new { @class = "form-control", @maxlength = "20" })
        </div>
        <div class="col-xlg-3 col-lg-6 col-md-8 col-sm-12 col-12">
            @Html.Input("inpDistritoEndereco", "", true, "Bairro/Distrito", "", new { @class = "form-control", @maxlength = "30" })
        </div>
        <div class="col-xlg-3 col-lg-6 col-md-8 col-sm-12 col-12">
            @Html.Select("selIdPais", null, true, "País", new { @class = "form-control select2" })
        </div>
        <div class="col-xlg-2 col-lg-6 col-md-8 col-sm-12 col-12">
            @Html.Select("selIdEstado", null, true, "Estado", new { @class = "form-control select2" })
        </div>
        <div class="col-xlg-3 col-lg-6 col-md-8 col-sm-12 col-12">
            @Html.Select("selIdMunicipio", null, true, "Município", new { @class = "form-control select2" })
        </div>
    </div>
</div>
