﻿@using PR.Building4U.WebUI.Helper

<div class="form">
    <div class="row">
        @Html.Hidden("hidIdFuncionarioDemissao")
        <div class="col-xlg-5 col-lg-5 col-md-5 col-sm-6 col-6">
            @Html.InputData("inpDemissaoFuncionario", null, true, "Data de Demissão", "", new { @class = "form-control" })
        </div>
        <div class="col-xlg-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <h5>Confirma a demissão do funcionário <span id="spnNomeFuncionario"></span>?</h5>
        </div>
    </div>
</div>
