﻿@using PR.Building4U.WebUI.Helper
@using PR.Building4U.WebUI.Models

@{ ViewBag.Title = "Cadastro de Funcionários"; }

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table id="tabelaCadastro" class="table table-bordered table-striped dataTable" style="width:100%"></table>
                </div>
            </div>
        </div>
    </div>
</div>

@{
    var botoes = new List<ButtonViewModel>()
    {
        new ButtonViewModel(){ Id = "btnCancelar", Text = "Cancelar", Icon = "fas fa-times", Color = "danger", Classe = "btn-rounded", Click = "cadastroFuncionarios.Cancelar()" },
        new ButtonViewModel(){ Id = "btnSalvar", Text = "Salvar", Icon = "fas fa-check", Color = "info", Classe = "btn-rounded", Click = "cadastroFuncionarios.Salvar()" }
    };

    var botoesDemissao = new List<ButtonViewModel>()
    {
        new ButtonViewModel(){ Id = "btnCancelar", Text = "Cancelar", Icon = "fas fa-times", Color = "danger", Classe = "btn-rounded", Click = "cadastroFuncionarios.CancelarDemissao()" },
        new ButtonViewModel(){ Id = "btnConfirmar", Text = "Confirmar", Icon = "fas fa-check", Color = "info", Classe = "btn-rounded", Click = "cadastroFuncionarios.ConfirmarDemissao()" }
    };
}

@Html.Modal("modalCadastro", "Cadastro de Funcionário", Html.Partial("_Cadastro").ToString(), true, botoes)

@Html.Modal("modalDemissao", "Demissão de Funcionário", Html.Partial("_Demissao").ToString(), true, botoesDemissao)

<script>
    var urlListar = '@Url.Action("Listar", "CadastroFuncionarios", new { Area = "" })';
	var urlIncluir = '@Url.Action("Incluir", "CadastroFuncionarios", new { Area = "" })';
	var urlEditar = '@Url.Action("Editar", "CadastroFuncionarios", new { Area = "" })';
	var urlDemitir = '@Url.Action("Demitir", "CadastroFuncionarios", new { Area = "" })';
    var urlObter = '@Url.Action("Obter", "CadastroFuncionarios", new { Area = "" })';
    var urlListarCargos = '@Url.Action("ListarCargos", "CadastroFuncionarios", new { Area = "" })';
    var urlListarObras = '@Url.Action("ListarObras", "CadastroFuncionarios", new { Area = "" })';
    var urlListarPaises = '@Url.Action("ListarPaises", "CadastroFuncionarios", new { Area = "" })';
    var urlListarEstados = '@Url.Action("ListarEstados", "CadastroFuncionarios", new { Area = "" })';
    var urlListarMunicipios = '@Url.Action("ListarMunicipios", "CadastroFuncionarios", new { Area = "" })';
</script>