﻿@using PR.Building4U.WebUI.Helper

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Filtros</h4>
                <div class="form">
                    <div class="row">
                        <div class="col-xlg-3 col-lg-5 col-md-7 col-sm-12 col-12">
                            @Html.Select("selIdObra", null, true, "Obra", new { @class = "form-control select2" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>