﻿@using PR.Building4U.WebUI.Helper
@using PR.Building4U.WebUI.Models

@{ ViewBag.Title = "Solicitação Necessário QEV"; }

@Html.Partial("_Filtro")

<div class="row" id="rowTabela" style="display:none;">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table id="tabelaCadastro" class="table table-bordered table-striped dataTable" style="width:100%"></table>
                </div>
            </div>
        </div>
    </div>
</div>

@{
    var botoes = new List<ButtonViewModel>()
    {
        new ButtonViewModel(){ Id = "btnCancelar", Text = "Cancelar", Icon = "fas fa-times", Color = "danger", Classe = "btn-rounded", Click = "necessarioEquipamento.Cancelar()" },
		new ButtonViewModel(){ Id = "btnSalvar", Text = "Salvar", Icon = "fas fa-check", Color = "info", Classe = "btn-rounded", Click = "necessarioEquipamento.Salvar()" }
    };
}

@Html.Modal("modalCadastro", "Cadastro de Necessário", Html.Partial("_Cadastro").ToString(), true, botoes)

<script>
    var urlListar = '@Url.Action("Listar", "NecessarioEquipamento", new { Area = "" })';
    var urlAtualizar = '@Url.Action("Atualizar", "NecessarioEquipamento", new { Area = "" })';
	var urlExcluir = '@Url.Action("Excluir", "NecessarioEquipamento", new { Area = "" })';
    var urlEnviar = '@Url.Action("Enviar", "NecessarioEquipamento", new { Area = "" })';
    var urlListarTiposEquipamento = '@Url.Action("ListarTiposEquipamento", "NecessarioEquipamento", new { Area = "" })';
    var urlListarObras = '@Url.Action("ListarObras", "NecessarioEquipamento", new { Area = "" })';
</script>