﻿@using PR.Building4U.WebUI.Helper

<div class="form">
    @Html.Hidden("hidIdPais")
    <div class="row">
        <div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-4">
            @Html.InputNumerico("inpCodigoPais", "", true, "Código", "", new { @class = "form-control", @maxlength = "4" })
        </div>
        <div class="col-xlg-5 col-lg-8 col-md-12 col-sm-12 col-12">
            @Html.Input("inpNomePais", "", true, "Nome", "", new { @class = "form-control", @maxlength = "50" })
        </div>
    </div>
</div>