﻿@using PR.Building4U.WebUI.Helper
@using PR.Building4U.WebUI.Models

@{ ViewBag.Title = "Cadastro de Países"; }

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table id="tabelaCadastro" class="table table-bordered table-striped dataTable" style="width:100%"></table>
                </div>
            </div>
        </div>
    </div>
</div>

@{
    var botoes = new List<ButtonViewModel>()
{
new ButtonViewModel(){ Id = "btnCancelar", Text = "Cancelar", Icon = "fas fa-times", Color = "danger", Classe = "btn-rounded", Click = "cadastroPaises.Cancelar()" },
new ButtonViewModel(){ Id = "btnSalvar", Text = "Salvar", Icon = "fas fa-check", Color = "info", Classe = "btn-rounded", Click = "cadastroPaises.Salvar()" }
};
}

@Html.Modal("modalCadastro", "Cadastro de País", Html.Partial("_Cadastro").ToString(), true, botoes)

<script>
    var urlListar = '@Url.Action("Listar", "CadastroPaises", new { Area = "" })';
    var urlIncluir = '@Url.Action("Incluir", "CadastroPaises", new { Area = "" })';
    var urlEditar = '@Url.Action("Editar", "CadastroPaises", new { Area = "" })';
    var urlExcluir = '@Url.Action("Excluir", "CadastroPaises", new { Area = "" })';
    var urlObter = '@Url.Action("Obter", "CadastroPaises", new { Area = "" })';
    var urlListarArea = '@Url.Action("Obter", "ListarArea", new { Area = "" })';
    var urlListarContrato = '@Url.Action("Obter", "ListarContrato", new { Area = "" })';
    var urlListarSituacao = '@Url.Action("Obter", "ListarSituacao", new { Area = "" })';
</script>