﻿@using PR.Building4U.WebUI.Helper

<div class="form">
    <div class="row">
        @Html.Hidden("hidIdEquipamentoManutencao")
        @Html.Hidden("hidSituacaoEquipamento")
        <div class="col-xlg-6 col-lg-6 col-md-6 col-sm-8 col-8" id="divInicioManutencao">
            @Html.InputData("inpInicioManutencao", null, true, "Início Manutenção", "", new { @class = "form-control" })
        </div>
        <div class="col-xlg-6 col-lg-6 col-md-6 col-sm-8 col-8">
            @Html.InputData("inpTerminoManutencao", null, true, "Término Manutenção", "", new { @class = "form-control" })
        </div>
        <div class="col-xlg-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <h5>Confirma o <span id="spnTipoManutencao"></span> da manutenção do equipamento <span id="spnPatrimonioEquipamento"></span>?</h5>
        </div>
    </div>
</div>