﻿@using PR.Building4U.WebUI.Helper

<div class="form">
    <div class="row">
        @Html.Hidden("hidSequenciaAluguel")
        @Html.Hidden("hidIdEquipamento")
        <div class="col-xlg-3 col-lg-7 col-md-10 col-sm-12 col-12">
            @Html.Input("inpTipoEquipamento", "", true, "Equipamento", "", new { @class = "form-control", @disabled = "disabled" })
        </div>
        <div class="col-xlg-3 col-lg-7 col-md-10 col-sm-12 col-12">
            @Html.Input("inpMarcaEquipamento", "", true, "Marca", "", new { @class = "form-control", @disabled = "disabled" })
        </div>
        <div class="col-xlg-3 col-lg-7 col-md-10 col-sm-12 col-12">
            @Html.Input("inpModeloEquipamento", "", true, "Modelo", "", new { @class = "form-control", @disabled = "disabled" })
        </div>
        <div class="col-xlg-3 col-lg-6 col-md-8 col-sm-12 col-12">
            @Html.Select("selIdObra", null, true, "Obra Destino", new { @class = "form-control select2" })
        </div>
        <div class="col-xlg-2 col-lg-3 col-md-4 col-sm-8 col-8">
            @Html.InputData("inpDataTransferencia", null, true, "Data Transferência", "", new { @class = "form-control" })
        </div>
    </div>
</div>