﻿@using PR.Building4U.WebUI.Helper
@using PR.Building4U.WebUI.Models

@{ ViewBag.Title = "Alocação de Equipamentos"; }

@Html.Partial("_Filtro")

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table id="tabelaCadastro" class="table table-bordered table-striped dataTable" style="width:100%"></table>
                </div>
            </div>
        </div>
    </div>
</div>

@{
    var botoesTransferir = new List<ButtonViewModel>()
    {
        new ButtonViewModel(){ Id = "btnCancelar", Text = "Cancelar", Icon = "fas fa-times", Color = "danger", Classe = "btn-rounded", Click = "alocacaoEquipamento.CancelarTransferencia()" },
        new ButtonViewModel(){ Id = "btnTransferir", Text = "Transferir", Icon = "fas fa-random", Color = "info", Classe = "btn-rounded", Click = "alocacaoEquipamento.SalvarTransferencia()" }
    };

    var botoesManutencao = new List<ButtonViewModel>()
    {
        new ButtonViewModel(){ Id = "btnCancelar", Text = "Cancelar", Icon = "fas fa-times", Color = "danger", Classe = "btn-rounded", Click = "alocacaoEquipamento.CancelarManutencao()" },
        new ButtonViewModel(){ Id = "btnConfirmar", Text = "Confirmar", Icon = "fas fa-check", Color = "info", Classe = "btn-rounded", Click = "alocacaoEquipamento.SalvarManutencao()" }
    };
}

@Html.Modal("modalTransferencia", "Transferência", Html.Partial("_Transferencia").ToString(), true, botoesTransferir)
@Html.Modal("modalManutencao", "Manutenção", Html.Partial("_Manutencao").ToString(), true, botoesManutencao)

<script>
    var urlListar = '@Url.Action("Listar", "AlocacaoEquipamento", new { Area = "" })';
    var urlTransferir = '@Url.Action("Transferir", "AlocacaoEquipamento", new { Area = "" })';
    var urlDesfazer = '@Url.Action("Desfazer", "AlocacaoEquipamento", new { Area = "" })';
    var urlCancelar = '@Url.Action("Cancelar", "AlocacaoEquipamento", new { Area = "" })';
    var urlArrumar = '@Url.Action("Arrumar", "AlocacaoEquipamento", new { Area = "" })';
    var urlListarObras = '@Url.Action("ListarObras", "AlocacaoEquipamento", new { Area = "" })';
    var urlListarTiposEquipamento = '@Url.Action("ListarTiposEquipamento", "AlocacaoEquipamento", new { Area = "" })';
</script>