﻿@{ Layout = "~/Views/Shared/_LayoutLand.cshtml"; }

<div class="error-box">
    <div class="error-body text-center">
        <h1 class="text-info">404</h1>
        <h3 class="text-uppercase">Recurso não encontrado!</h3>
        <p class="text-muted m-t-30 m-b-30">VERIFIQUE SE O CAMINHO ESTÁ CORRETO E TENTE NOVAMENTE.</p>
        @Html.ActionLink("Voltar para Home Page", "Index", "Home", null, new { @class = "btn btn-info btn-rounded waves-effect waves-light m-b-40" })
    </div>
    <footer class="footer text-center"> &copy; @DateTime.Now.Year - Building4U - Progeo Engenharia Ltda</footer>
</div>

