﻿@using PR.Building4U.WebUI.Helper

<div class="form">
    <div class="row">
        @Html.Hidden("hidIdEquipamento")
        <div class="col-xlg-1 col-lg-2 col-md-3 col-sm-6 col-6">
            @Html.Input("inpPatrimonioEquipamento", "", true, "Patrimônio", "", new { @class = "form-control", @maxlength = "9" })
        </div>
        <div class="col-xlg-2 col-lg-5 col-md-7 col-sm-12 col-12">
            @Html.Select("selIdTipoEquipamento", null, true, "Tipo", new { @class = "form-control select2" })
        </div>
        <div class="col-xlg-2 col-lg-5 col-md-8 col-sm-12 col-12">
            @Html.Input("inpMarcaEquipamento", "", true, "Marca", "", new { @class = "form-control", @maxlength = "50" })
        </div>
        <div class="col-xlg-2 col-lg-5 col-md-8 col-sm-12 col-12">
            @Html.Input("inpModeloEquipamento", "", true, "Modelo", "", new { @class = "form-control", @maxlength = "50" })
        </div>
        <div class="col-xlg-2 col-lg-3 col-md-5 col-sm-6 col-6">
            @Html.InputData("inpAquisicaoEquipamento", null, true, "Aquisição", "", new { @class = "form-control" })
        </div>
        <div class="col-xlg-1 col-lg-2 col-md-3 col-sm-6 col-6" style="padding-top:35px;">
            @Html.CheckBox("chkIndicadorTerceiro", false, "Terceiro?", new { @class = "form-control" })
        </div>
        <div class="col-xlg-4 col-lg-7 col-md-8 col-sm-12 col-12">
            @Html.Input("inpFornecedorEquipamento", "", false, "Fornecedor", "", new { @class = "form-control", @maxlength = "50" })
        </div>
        <div class="col-xlg-2 col-lg-5 col-md-7 col-sm-12 col-12">
            @Html.Select("selIdObra", null, true, "Obra", new { @class = "form-control select2" })
        </div>
    </div>
</div>
