﻿@using PR.Building4U.WebUI.Helper
@using PR.Building4U.WebUI.Models

@{ ViewBag.Title = "Cadastro de Equipamentos"; }

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table id="tabelaCadastro" class="table table-bordered table-striped dataTable" style="width:100%"></table>
                </div>
            </div>
        </div>
    </div>
</div>

@{
    var botoes = new List<ButtonViewModel>()
    {
        new ButtonViewModel(){ Id = "btnCancelar", Text = "Cancelar", Icon = "fas fa-times", Color = "danger", Classe = "btn-rounded", Click = "cadastroEquipamentos.Cancelar()" },
        new ButtonViewModel(){ Id = "btnSalvar", Text = "Salvar", Icon = "fas fa-check", Color = "info", Classe = "btn-rounded", Click = "cadastroEquipamentos.Salvar()" }
    };

    var botoesSucata = new List<ButtonViewModel>()
    {
        new ButtonViewModel(){ Id = "btnCancelar", Text = "Cancelar", Icon = "fas fa-times", Color = "danger", Classe = "btn-rounded", Click = "cadastroEquipamentos.CancelarSucata()" },
        new ButtonViewModel(){ Id = "btnConfirmar", Text = "Confirmar", Icon = "fas fa-check", Color = "info", Classe = "btn-rounded", Click = "cadastroEquipamentos.ConfirmarSucata()" }
    };
}

@Html.Modal("modalCadastro", "Cadastro de Equipamento", Html.Partial("_Cadastro").ToString(), true, botoes)

@Html.Modal("modalSucata", "Sucatear Equipamento", Html.Partial("_Sucata").ToString(), true, botoesSucata)

<script>
    var urlListar = '@Url.Action("Listar", "CadastroEquipamentos", new { Area = "" })';
	var urlIncluir = '@Url.Action("Incluir", "CadastroEquipamentos", new { Area = "" })';
	var urlEditar = '@Url.Action("Editar", "CadastroEquipamentos", new { Area = "" })';
	var urlSucatear = '@Url.Action("Sucatear", "CadastroEquipamentos", new { Area = "" })';
    var urlObter = '@Url.Action("Obter", "CadastroEquipamentos", new { Area = "" })';
    var urlListarTiposEquipamento = '@Url.Action("ListarTiposEquipamento", "CadastroEquipamentos", new { Area = "" })';
    var urlListarObras = '@Url.Action("ListarObras", "CadastroEquipamentos", new { Area = "" })';
</script>