﻿@using PR.Building4U.WebUI.Helper

<div class="form">
    @Html.Hidden("hidIdArea")
    <div class="row">
        <div class="col-xlg-1 col-lg-2 col-md-3 col-sm-4 col-4">
            @Html.Input("inpSiglaArea", "", true, "Sigla", "", new { @class = "form-control upper-text", @maxlength = "3" })
        </div>
        <div class="col-xlg-2 col-lg-5 col-md-6 col-sm-12 col-12">
            @Html.Input("inpNomeArea", "", true, "Nome", "", new { @class = "form-control", @maxlength = "20" })
        </div>
    </div>
</div>