﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Progeo">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/images/favicon.png">
    <title>Building4U - Progeo Engenharia Ltda</title>
    <!-- Page Style -->
    <link href="/Plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/Plugins/toast-master/css/jquery.toast.css" rel="stylesheet" />
    <link href="/Plugins/datatables/media/css/dataTables.bootstrap4.css" rel="stylesheet" />
    <link href="/Plugins/datatables/media/css/buttons.bootstrap4.min.css" rel="stylesheet" />
    <link href="/Plugins/datatables/media/css/colReorder.bootstrap4.min.css" rel="stylesheet" />
    <link href="/Plugins/datatables/media/css/keyTable.bootstrap4.min.css" rel="stylesheet" />
    <link href="/Plugins/datatables/media/css/responsive.bootstrap4.min.css" rel="stylesheet" />
    <link href="/Plugins/datatables/media/css/rowGroup.bootstrap4.min.css" rel="stylesheet" />
    <link href="/Plugins/datatables/media/css/select.bootstrap4.min.css" rel="stylesheet" />
    <link href="/Plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" />
    <link href="/Plugins/sweetalert/sweetalert.css" rel="stylesheet" />
    <link href="/Plugins/select2/dist/css/select2.min.css" rel="stylesheet" />
    <link href="/Plugins/material-floating-action/fab.css" rel="stylesheet" />
    <link href="/Content/style.css" id="style" rel="stylesheet" />
    <link href="/Content/colors/blue.css" id="theme" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- ============================================================== -->
    <!-- All Jquery, Bootstrap, Gemini, Plugins, etc -->
    <!-- ============================================================== -->
    <!-- Jquery -->
    <script src="/Plugins/jquery/jquery.min.js"></script>
    <script src="/Plugins/popper/popper.min.js"></script>
    <!-- Bootstrap -->
    <script src="/Plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="/Plugins/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <!-- Inputmask -->
    <script src="/Plugins/inputmask/dist/min/jquery.inputmask.bundle.min.js"></script>
    <!-- Draggabilly -->
    <script src="/Plugins/draggabilly/draggabilly.pkgd.min.js"></script>
    <!-- Select2 -->
    <script src="/Plugins/select2/dist/js/select2.full.min.js"></script>
    <!-- Float Action Button -->
    <script src="/Plugins/material-floating-action/fab.js"></script>
    <!-- Sticky Kit -->
    <script src="/Plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <!-- Sparkline -->
    <script src="/Plugins/sparkline/jquery.sparkline.min.js"></script>
    <!-- Datatables -->
    <script src="/Plugins/datatables/datatables.min.js"></script>
    <script src="/Plugins/datatables/media/js/dataTables.buttons.min.js"></script>
    <script src="/Plugins/datatables/media/js/buttons.bootstrap4.min.js"></script>
    <script src="/Plugins/datatables/media/js/dataTables.colReorder.min.js"></script>
    <script src="/Plugins/datatables/media/js/colReorder.bootstrap4.min.js"></script>
    <script src="/Plugins/datatables/media/js/dataTables.keyTable.min.js"></script>
    <script src="/Plugins/datatables/media/js/keyTable.bootstrap4.min.js"></script>
    <script src="/Plugins/datatables/media/js/dataTables.responsive.min.js"></script>
    <script src="/Plugins/datatables/media/js/responsive.bootstrap4.min.js"></script>
    <script src="/Plugins/datatables/media/js/dataTables.rowGroup.min.js"></script>
    <script src="/Plugins/datatables/media/js/rowGroup.bootstrap4.min.js"></script>
    <script src="/Plugins/datatables/media/js/dataTables.select.min.js"></script>
    <script src="/Plugins/datatables/media/js/select.bootstrap4.min.js"></script>
    <!-- Toast -->
    <script src="/Plugins/toast-master/js/jquery.toast.js"></script>
    <!-- Sweetalert -->
    <script src="/Plugins/sweetalert/sweetalert.min.js"></script>
    <!-- ============================================================== -->
    <!-- Default JavaScript -->
    <!-- ============================================================== -->
    <script src="/Scripts/jquery.slimscroll.js"></script>
    <script src="/Scripts/waves.js"></script>
    <script src="/Scripts/sidebarmenu.js"></script>
    <script src="/Scripts/validation.js"></script>
    <script src="/Scripts/custom.js"></script>
    <script src="/Scripts/util.js"></script>
    <!-- ============================================================== -->
    <!-- Custom JavaScript -->
    <!-- ============================================================== -->
    <script src="/Scripts/Controllers/@(this.ViewContext.RouteData.Values["controller"].ToString())/Index.js"></script>
    <!-- ============================================================== -->
    <!-- This page plugins -->
    <!-- ============================================================== -->
    @RenderSection("scripts", required: false)
    <script>
        let urlPossuiPermissao = '@Url.Action("PossuiPermissao", "Base", new { Area = "" })';
    </script>
    <!-- ============================================================== -->
    <!-- Style switcher -->
    <!-- ============================================================== -->
    <script src="/Plugins/styleswitcher/jQuery.style.switcher.js"></script>
</head>
<body class="fix-header fix-sidebar card-no-border">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader" style="display: none;">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"></circle>
        </svg>
    </div>
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div id="bodyRender" class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        @RenderBody()
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <div class="modal-overlay"></div>
    <div id="menu-action"></div>
</body>
</html>