﻿@using PR.Building4U.WebUI.Helper

<div class="form">
    @Html.Hidden("hidIdEstado")
    <div class="row">
        <div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-3">
            @Html.Input("inpSiglaEstado", "", true, "Sigla", "", new { @class = "form-control upper-text", @maxlength = "2" })
        </div>
        <div class="col-xlg-4 col-lg-9 col-md-12 col-sm-12 col-12">
            @Html.Input("inpNomeEstado", "", true, "Nome", "", new { @class = "form-control", @maxlength = "50" })
        </div>
        <div class="col-xlg-3 col-lg-6 col-md-8 col-sm-12 col-12">
            @Html.Select("selIdPais", null, true, "País", new { @class = "form-control select2" })
        </div>
    </div>
</div>