﻿@using PR.Building4U.WebUI.Helper
@using PR.Building4U.WebUI.Models

@{ ViewBag.Title = "Cadastro de Situações"; }

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table id="tabelaCadastro" class="table table-bordered table-striped dataTable" style="width:100%"></table>
                </div>
            </div>
        </div>
    </div>
</div>

@{
    var botoes = new List<ButtonViewModel>()
    {
        new ButtonViewModel(){ Id = "btnCancelar", Text = "Cancelar", Icon = "fas fa-times", Color = "danger", Classe = "btn-rounded", Click = "cadastroSituacoes.Cancelar()" },
        new ButtonViewModel(){ Id = "btnSalvar", Text = "Salvar", Icon = "fas fa-check", Color = "info", Classe = "btn-rounded", Click = "cadastroSituacoes.Salvar()" }
    };
}

@Html.Modal("modalCadastro", "Cadastro de Situação", Html.Partial("_Cadastro").ToString(), true, botoes)

<script>
    let urlListar = '@Url.Action("Listar", "CadastroSituacoes", new { Area = "" })';
    let urlEditar = '@Url.Action("Editar", "CadastroSituacoes", new { Area = "" })';
    let urlObter = '@Url.Action("Obter", "CadastroSituacoes", new { Area = "" })';
    let urlObterEnum = '@Url.Action("ObterEnum", "CadastroSituacoes", new { Area = "" })';
</script>

