﻿@using PR.Building4U.WebUI.Helper
@{ Layout = "~/Views/Shared/_LayoutLand.cshtml"; }

<div class="login-register" style="background-image:url(../Content/images/background/login-register.jpg);">
    <div class="login-box card">
        <div class="card-body">
            <div class="form-control-line">
                <h3 class="box-title m-b-20">Building4U</h3>
                @Html.Input("inpUsuario", "", true, null, "Usuário", new { @class = "form-control" }, false)
                @Html.InputSenha("inpSenha", "", true, null, "Senha", new { @class = "form-control" }, false)
                <div class="form-group">
                    @Html.Botao("btnEntrar", "Entrar", "button", "btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light")
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var urlValidarUsuario = '@Url.Action("ValidarUsuario", "Login", new { Area = "" })';
    var urlHome = '@Url.Action("Index", "Home", new { Area = "" })';
</script>