﻿@using PR.Building4U.WebUI.Helper

<div class="form">
    @Html.Hidden("hidIdCargo")
    <div class="row">
        <div class="col-xlg-3 col-lg-6 col-md-9 col-sm-12 col-12">
            @Html.Input("inpNomeCargo", "", true, "Nome", "", new { @class = "form-control", @maxlength = "30" })
        </div>
        <div class="col-xlg-1 col-lg-3 col-md-4 col-sm-6 col-6">
            @Html.Input("inpSiglaCargo", "", false, "Sigla", "", new { @class = "form-control upper-text", @maxlength = "10" })
        </div>
        <div class="col-xlg-1 col-lg-3 col-md-5 col-sm-6 col-6">
            @Html.Select("selIdCusto", (List<SelectListItem>)ViewBag.ListaCustos, true, "Custo", new { @class = "form-control select2" })
        </div>
    </div>
</div>
