﻿@using PR.Building4U.WebUI.Helper
@using PR.Building4U.Fronteiras.Dtos
@{
    FuncionarioDto funcionario = new FuncionarioDto();
    UsuarioDto usuario = new UsuarioDto();
    if (SessionHelper.Logado)
    {
        usuario = SessionHelper.Usuario;
        funcionario = SessionHelper.Usuario.Funcionario ?? new FuncionarioDto();
    }
}

<!-- ============================================================== -->
<!-- Topbar header - style you can find in pages.scss -->
<!-- ============================================================== -->
<header class="topbar">
    <nav class="navbar top-navbar navbar-expand-md navbar-light">
        <!-- ============================================================== -->
        <!-- Logo -->
        <!-- ============================================================== -->
        <div class="navbar-header">
            <a class="navbar-brand" href="javascript:void(0)">
                <!-- Logo icon -->
                <strong>
                    <!-- Dark Logo icon -->
                    <img src="~/Content/images/logo-icon.png" alt="homepage" class="dark-logo" width="33" height="33">
                    <!-- Light Logo icon -->
                    <img src="~/Content/images/logo-light-icon.png" alt="homepage" class="light-logo" width="33" height="33">
                </strong>
                <!--End Logo icon -->
                <!-- Logo text -->
                <span>
                    <!-- dark Logo text -->
                    <img src="~/Content/images/logo-text.png" alt="homepage" class="dark-logo" width="137" height="19">
                    <!-- Light Logo text -->
                    <img src="~/Content/images/logo-light-text.png" class="light-logo" alt="homepage" width="137" height="19">
                </span>
            </a>
        </div>
        <!-- ============================================================== -->
        <!-- End Logo -->
        <!-- ============================================================== -->
        <div class="navbar-collapse">
            <!-- ============================================================== -->
            <!-- toggle and nav items -->
            <!-- ============================================================== -->
            <ul class="navbar-nav mr-auto mt-md-0">
                <!-- This is  -->
                <li class="nav-item">
                    <a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark" href="javascript:void(0)">
                        <i class="mdi mdi-menu"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link sidebartoggler hidden-sm-down text-muted waves-effect waves-dark" href="javascript:void(0)">
                        <i class="ti-menu"></i>
                    </a>
                </li>
            </ul>
            <!-- ============================================================== -->
            <!-- User profile and search -->
            <!-- ============================================================== -->
            <ul class="navbar-nav my-lg-0">
                <!-- ============================================================== -->
                <!-- Notifications -->
                <!-- ============================================================== -->
                <li class="nav-item dropdown" id="centralNotificacoes">
                    @Html.Action("Notificacoes", "Home")
                </li>
                <!-- ============================================================== -->
                <!-- End Notifications -->
                <!-- ============================================================== -->
                <li class="nav-item">
                    <a class="nav-link text-muted waves-effect waves-dark right-side-toggle" href="javascript:void(0)">
                        <i class="ti ti-settings gyros"></i>
                    </a>
                </li>
                <!-- ============================================================== -->
                <!-- Profile -->
                <!-- ============================================================== -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="mdi mdi-account"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right scale-up">
                        <ul class="dropdown-user">
                            <li>
                                <div class="dw-user-box">
                                    <div class="u-text">
                                        <h4>@usuario.NomeReduzidoUsuario</h4>
                                        <p class="text-muted">@funcionario.EmailFuncionario</p>
                                        <p>@usuario.Permissao.SiglaPermissao</p>
                                    </div>
                                </div>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#"><i class="ti-user"></i> Meu Perfil</a></li>
                            <li><a href="#"><i class="ti-settings"></i> Configurações</a></li>
                            <li><a href="#"><i class="fa fa-power-off"></i> Sair</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>
<!-- ============================================================== -->
<!-- End Topbar header -->
<!-- ============================================================== -->