﻿@using PR.Building4U.Util
@model PR.Building4U.WebUI.Models.NotificacoesViewModel
<a class="nav-link dropdown-toggle text-muted text-muted waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="mdi mdi-message"></i>
    @{
        var temNaoLida = Model.Notificacoes.Where(n => !n.LidoNotificacao).Count() > 0;
    }
    @if (temNaoLida)
    {
        <div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
    }
</a>
<div class="dropdown-menu dropdown-menu-right mailbox scale-up">
    <ul>
        <li>
            <div class="drop-title">Notificações</div>
        </li>
        <li>
            <div class="message-center">
                @foreach (var noty in Model.Notificacoes)
                {
                    var classButton = "btn-info";
                    var fontWeight = "normal";
                    var classIcon = "";

                    if (!noty.LidoNotificacao)
                    {
                        classButton = "btn-danger";
                        fontWeight = "bold";
                    }

                    switch (noty.TipoNotificacao)
                    {
                        case TipoNotificacao.Producao:
                            classIcon = "ti-pencil-alt";
                            break;
                        case TipoNotificacao.Medicao:
                            classIcon = "ti-write";
                            break;
                        case TipoNotificacao.Cronograma:
                            classIcon = "ti-bar-chart";
                            break;
                        case TipoNotificacao.Pessoal:
                            classIcon = "ti-user";
                            break;
                        case TipoNotificacao.Reuniao:
                            classIcon = "ti-calendar";
                            break;
                    }

                    <a href="javascript:MarcarNotificacao(@noty.IdNotificacao);">
                        <div class="btn @classButton btn-circle">
                            <i class="@classIcon"></i>
                        </div>
                        <div class="mail-contnet" style="font-weight:@fontWeight;">
                            <h5>@noty.TituloNotificacao</h5>
                            <span class="mail-desc">
                                @noty.TextoNotificacao
                            </span>
                            <span class="time">@noty.DataNotificacao</span>
                        </div>
                    </a>
                }
            </div>
        </li>
        <li>
            <a class="nav-link text-center" href="javascript:MarcarNotificacao(null);">
                <strong>
                    Marcar notificações como lida
                </strong> <i class="fa fa-angle-right"></i>
            </a>
        </li>
    </ul>
</div>