﻿@model PR.Building4U.WebUI.Models.MenuViewModel
<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar d-print-none">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav active">
            <ul id="sidebarnav" class="in">
                @foreach (var menu in Model.ItensMenu)
                {
                    <li>
                        <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-@menu.IconeRecurso"></i><span class="hide-menu">@menu.NomeRecurso </span></a>
                        <ul aria-expanded="false" class="collapse">
                            @foreach (var submenu in menu.SubMenu)
                            {
                                <li>
                                    @Html.ActionLink(submenu.NomeRecurso, $@"{submenu.ActionRecurso}", $"{submenu.ControllerRecurso}", null, new { @class = "menu-button" })
                                </li>
                            }
                        </ul>
                    </li>
                }
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->