﻿@using PR.Building4U.WebUI.Helper

<div class="form">
    <div class="row">
        <div class="col-xlg-2 col-lg-4 col-md-6 col-sm-6 col-6">
            @Html.Input("inpCpPlanilha", null, true, "CP", "", new { @class = "form-control", @maxlength = "6" })
        </div>
        <div class="col-xlg-2 col-lg-4 col-md-6 col-sm-6 col-6">
            @Html.InputNumerico("inpRevPlanilha", null, true, "Rev", "", new { @class = "form-control", @maxlength = "2" })
        </div>
    </div>
    <div class="row">
        <div class="col-xlg-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <label for="inpArquivoPlanilha">Arquivo:</label>
            <input type="file" id="inpArquivoPlanilha" class="dropify" data-max-file-size="2M" required />
        </div>
    </div>
</div>