﻿@Html.Hidden("hidIdPlanilha", "0")
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table id="tabelaMedicao" class="table table-bordered table-striped dataTable" style="width:100%"></table>
        </div>
    </div>
</div>
