﻿@using PR.Building4U.WebUI.Helper

<div class="form">
    <div class="row">
        <div class="col-xlg-2 col-lg-4 col-md-6 col-sm-6 col-6">
            @Html.InputData("inpPeriodoMedicao", DateTime.Now.Date, true, "Período", "", new { @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <div class="col-xlg-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <label for="inpArquivoMedicao">Arquivo:</label>
            <input type="file" id="inpArquivoMedicao" class="dropify" data-max-file-size="2M" required />
        </div>
    </div>
</div>