﻿@model PR.Building4U.WebUI.Models.PlanilhaViewModel
<table border="1" id="tablePlanilha">
    <thead style="background-color:lightgray;white-space:nowrap;">
        <tr>
            <td rowspan="2" style="text-align:center;min-width:130px;max-width:150px;">Serviço</td>
            <td rowspan="2" style="text-align:center;min-width:35px;">Crtl</td>
            <td rowspan="2" style="text-align:center;min-width:50px;">Item</td>
            <td rowspan="2" style="text-align:center;min-width:250px;max-width:300px;">Descrição</td>
            <td rowspan="2" style="text-align:center;min-width:40px;">Unid</td>
            <td rowspan="2" style="text-align:center;min-width:100px;">Preço<br />Unit</td>
            <td colspan="3" style="text-align:center;">Quantidades</td>
            <td rowspan="2" style="text-align:center;min-width:100px;">Valor<br />R$</td>
        </tr>
        <tr>
            <td style="text-align:center;min-width:100px;">Proposta</td>
            <td style="text-align:center;min-width:100px;">Acerto</td>
            <td style="text-align:center;min-width:100px;">Total</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Planilha.Itens)
        {
            if (item.EhTituloItem)
            {
                <tr style="background-color:lightgreen;font-weight:bold;border-top:1px solid;">
                    <td></td>
                    <td></td>
                    <td style="text-align:center;@(string.IsNullOrEmpty(item.CodigoItem) ? "background-color:red;" : "")">@item.CodigoItem</td>
                    <td colspan="6" style="padding:0 10px;@(string.IsNullOrEmpty(item.DescricaoItem) ? "background-color:red;" : "")">@item.DescricaoItem</td>
                    <td></td>
                </tr>
            }
            else
            {
                var duplicado = Model.Planilha.Itens.Count(i => i.CodigoItem == item.CodigoItem) > 1;
                var quantidadeTotal = item.QuantidadeItem ?? 0 + item.QuantidadeAcertoItem ?? 0;
                var valorTotal = quantidadeTotal * item.PrecoItem;

                <tr style="border-bottom:1px dotted;">
                    <td style="padding:0 10px;@(string.IsNullOrEmpty(item.NomeCronogramaServico) ? "background-color:red;" : "")">@item.NomeCronogramaServico</td>
                    <td style="text-align:center;">@(item.EhItemControle ? "X" : "")</td>
                    <td style="text-align:center;@(string.IsNullOrEmpty(item.CodigoItem) || duplicado ? "background-color:red;" : "")">@item.CodigoItem</td>
                    <td style="padding:0 10px;@(string.IsNullOrEmpty(item.DescricaoItem) ? "background-color:red;" : "")">@item.DescricaoItem</td>
                    <td style="text-align:center;@(item.Unidade == null ? "background-color:red;" : "")">@(item.Unidade?.SiglaUnidade)</td>
                    <td style="text-align:right;padding:0 10px;@(item.PrecoItem < 0 ? "color:indianred;" : "")">@string.Format("{0:#,0.00;-#,0.00;#}", item.PrecoItem)</td>
                    <td style="text-align:right;padding:0 10px;@(item.QuantidadeItem < 0 ? "color:indianred;" : "")">@string.Format("{0:#,0.00;-#,0.00;#}", item.QuantidadeItem)</td>
                    <td style="text-align:right;padding:0 10px;@(item.QuantidadeAcertoItem < 0 ? "color:indianred;" : "")">@string.Format("{0:#,0.00;-#,0.00;#}", item.QuantidadeAcertoItem)</td>
                    <td style="text-align:right;padding:0 10px;@(quantidadeTotal < 0 ? "color:indianred;" : "")">@string.Format("{0:#,0.00;-#,0.00;#}", quantidadeTotal)</td>
                    <td style="text-align:right;padding:0 10px;@(valorTotal < 0 ? "color:indianred;" : "")">@string.Format("{0:#,0.00;-#,0.00;#}", valorTotal)</td>
                </tr>
            }
        }
        <tr style="height:25px;">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
    <tfoot style="font-weight:bold;white-space:nowrap;">
        <tr>
            @{
                var totalItem = Model.Planilha.Itens.Sum(i => i.QuantidadeItem * i.PrecoItem);
                var totalAcerto = Model.Planilha.Itens.Sum(i => i.QuantidadeAcertoItem * i.PrecoItem);
                var totalGeral = Model.Planilha.Itens.Sum(i => (i.QuantidadeItem ?? 0 + i.QuantidadeAcertoItem ?? 0) * i.PrecoItem);
            }
            <td style="text-align:right;padding:0 10px;" colspan="6">TOTAL : R$ </td>
            <td style="text-align:right;padding:0 10px;@(totalItem < 0 ? "color:indianred;" : "")">@string.Format("{0:#,0.00;-#,0.00;#}", totalItem)</td>
            <td style="text-align:right;padding:0 10px;@(totalAcerto < 0 ? "color:indianred;" : "")">@string.Format("{0:#,0.00;-#,0.00;#}", totalAcerto)</td>
            <td></td>
            <td style="text-align:right;padding:0 10px;@(totalGeral < 0 ? "color:indianred;" : "")">@string.Format("{0:#,0.00;-#,0.00;#}", totalGeral)</td>
        </tr>
    </tfoot>
</table>