﻿@using PR.Building4U.WebUI.Helper
@using PR.Building4U.WebUI.Models

@{ ViewBag.Title = "Cadastro de Planilhas"; }

@Html.Partial("_Filtro")

<div class="row" id="rowTabela" style="display:none;">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table id="tabelaCadastro" class="table table-bordered table-striped dataTable" style="width:100%"></table>
                </div>
            </div>
        </div>
    </div>
</div>

@{
    var botoes = new List<ButtonViewModel>()
    {
        new ButtonViewModel(){ Id = "btnCancelar", Text = "Cancelar", Icon = "fas fa-times", Color = "danger", Classe = "btn-rounded", Click = "cadastroPlanilhas.Cancelar()" },
        new ButtonViewModel(){ Id = "btnEnviar", Text = "Enviar", Icon = "fas fa-check", Color = "info", Classe = "btn-rounded", Click = "cadastroPlanilhas.Enviar()" }
    };
    var botoesVisaoPlanilha = new List<ButtonViewModel>()
    {
        new ButtonViewModel(){ Id = "btnCancelar", Text = "Cancelar", Icon = "fas fa-times", Color = "danger", Classe = "btn-rounded", Click = "cadastroPlanilhas.CancelarImportar()" },
        new ButtonViewModel(){ Id = "btnImportar", Text = "Importar", Icon = "fas fa-file-excel", Color = "info", Classe = "btn-rounded", Click = "cadastroPlanilhas.Importar()" }
    };
    var botoesMedicao = new List<ButtonViewModel>()
    {
        new ButtonViewModel(){ Id = "btnCancelar", Text = "Cancelar", Icon = "fas fa-times", Color = "danger", Classe = "btn-rounded", Click = "cadastroPlanilhas.CancelarMedicao()" },
        new ButtonViewModel(){ Id = "btnEnviar", Text = "Enviar", Icon = "fas fa-check", Color = "info", Classe = "btn-rounded", Click = "cadastroPlanilhas.EnviarMedicao()" }
    };
    var botoesVisaoMedicao = new List<ButtonViewModel>()
    {
        new ButtonViewModel(){ Id = "btnCancelar", Text = "Cancelar", Icon = "fas fa-times", Color = "danger", Classe = "btn-rounded", Click = "cadastroPlanilhas.CancelarImportarMedicao()" },
        new ButtonViewModel(){ Id = "btnImportarMedicao", Text = "Importar", Icon = "fas fa-file-excel", Color = "info", Classe = "btn-rounded", Click = "cadastroPlanilhas.ImportarMedicao()" }
    };
}

@Html.Modal("modalCadastro", "Cadastro de Planilha", Html.Partial("_Cadastro").ToString(), true, botoes)

@Html.Modal("modalVisaoPlanilha", "Preview de Planilha", null, true, botoesVisaoPlanilha)

@Html.Modal("modalMedicao", "Medições", Html.Partial("_Medicoes").ToString(), false, null)

@Html.Modal("modalCadastroMedicao", "Cadastro de Medição", Html.Partial("_MedicaoCadastro").ToString(), true, botoesMedicao)

@Html.Modal("modalVisaoMedicao", "Preview de Medição", null, true, botoesVisaoMedicao)

<script>
    var urlListar = '@Url.Action("Listar", "CadastroPlanilhas", new { Area = "" })';
    var urlExcluir = '@Url.Action("Excluir", "CadastroPlanilhas", new { Area = "" })';
    var urlListarObras = '@Url.Action("ListarObras", "CadastroPlanilhas", new { Area = "" })';
    var urlListarCronogramas = '@Url.Action("ListarCronogramas", "CadastroPlanilhas", new { Area = "" })';
    var urlEnviar = '@Url.Action("Enviar", "CadastroPlanilhas", new { Area = "" })';
    var urlImportar = '@Url.Action("Importar", "CadastroPlanilhas", new { Area = "" })';
    var urlListarMedicoes = '@Url.Action("ListarMedicoes", "CadastroPlanilhas", new { Area = "" })';
    var urlExcluirMedicao = '@Url.Action("ExcluirMedicao", "CadastroPlanilhas", new { Area = "" })';
    var urlEnviarMedicao = '@Url.Action("EnviarMedicao", "CadastroPlanilhas", new { Area = "" })';
    var urlImportarMedicao = '@Url.Action("ImportarMedicao", "CadastroPlanilhas", new { Area = "" })';
</script>