﻿@using PR.Building4U.WebUI.Helper

<div class="form">
    @Html.Hidden("hidIdCusto")
    <div class="row">
        <div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-3">
            @Html.Input("inpSiglaCusto", "", true, "Sigla", "", new { @class = "form-control upper-text", @maxlength = "1" })
        </div>
        <div class="col-xlg-2 col-lg-5 col-md-6 col-sm-12 col-12">
            @Html.Input("inpNomeCusto", "", true, "Nome", "", new { @class = "form-control", @maxlength = "20" })
        </div>
    </div>
</div>