﻿@using PR.Building4U.WebUI.Helper

<div class="form">
    @Html.Hidden("hidIdServico")
    <div class="row">
        <div class="col-xlg-1 col-lg-2 col-md-3 col-sm-4 col-5">
            @Html.InputNumerico("inpCodigoServico", "", true, "Código", "", new { @class = "form-control", @maxlength = "4" })
        </div>
        <div class="col-xlg-2 col-lg-5 col-md-7 col-sm-8 col-12">
            @Html.Input("inpSiglaServico", "", true, "Sigla", "", new { @class = "form-control upper-text", @maxlength = "20" })
        </div>
        <div class="col-xlg-2 col-lg-5 col-md-7 col-sm-12 col-12">
            @Html.Select("selIdUnidade", (List<SelectListItem>)ViewBag.ListaUnidades, true, "Unidade", new { @class = "form-control select2" })
        </div>
        <div class="col-xlg-4 col-lg-10 col-md-12 col-sm-12 col-12">
            @Html.Input("inpNomeServico", "", false, "Nome", "", new { @class = "form-control", @maxlength = "50" })
        </div>
    </div>
</div>