﻿@using PR.Building4U.WebUI.Helper

<div class="form">
    <div class="row">
        @Html.Hidden("hidIdNecessario")
        <div class="col-xlg-3 col-lg-5 col-md-7 col-sm-12 col-12">
            @Html.Select("selIdCargo", null, true, "Cargo", new { @class = "form-control select2" })
        </div>
        <div class="col-xlg-1 col-lg-3 col-md-3 col-sm-12 col-12">
            @Html.InputNumerico("inpQuantidadeNecessario", null, true, "Quantidade", "", new { @class = "form-control", @maxlength = "3" })
        </div>
    </div>
</div>