﻿@using PR.Building4U.WebUI.Helper

<div class="form">
    @Html.Hidden("hidIdCronograma")
    <div class="row">
        <div class="col-xlg-2 col-lg-5 col-md-6 col-sm-12 col-12">
            @Html.Input("inpNomeCronograma", "", true, "Nome", "", new { @class = "form-control", @maxlength = "255" })
        </div>
        <div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-3">
            @Html.InputNumerico("inpMedicaoCronograma", "", true, "1ª Dia Medição", "", new { @class = "form-control", @maxlength = "2" })
        </div>
    </div>
</div>