﻿@using PR.Building4U.WebUI.Helper
@using PR.Building4U.WebUI.Models

@{ ViewBag.Title = "Cadastro de Cronogramas"; }

@Html.Partial("_Filtro")

<div class="row" id="rowTabela" style="display:none;">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table id="tabelaCadastro" class="table table-bordered table-striped dataTable" style="width:100%"></table>
                </div>
            </div>
        </div>
    </div>
</div>

@{
    var botoes = new List<ButtonViewModel>()
    {
        new ButtonViewModel(){ Id = "btnCancelar", Text = "Cancelar", Icon = "fas fa-times", Color = "danger", Classe = "btn-rounded", Click = "cadastroCronogramas.Cancelar()" },
		new ButtonViewModel(){ Id = "btnSalvar", Text = "Salvar", Icon = "fas fa-check", Color = "info", Classe = "btn-rounded", Click = "cadastroCronogramas.Salvar()" }
    };
}

@Html.Modal("modalCadastro", "Cadastro de Cronograma", Html.Partial("_Cadastro").ToString(), true, botoes)

<script>
    var urlListar = '@Url.Action("Listar", "CadastroCronogramas", new { Area = "" })';
	var urlIncluir = '@Url.Action("Incluir", "CadastroCronogramas", new { Area = "" })';
	var urlEditar = '@Url.Action("Editar", "CadastroCronogramas", new { Area = "" })';
    var urlObter = '@Url.Action("Obter", "CadastroCronogramas", new { Area = "" })';
    var urlListarObras = '@Url.Action("ListarObras", "NecessarioFuncionario", new { Area = "" })';
    var urlVisuzalizar = '@Url.Action("Index", "Cronograma", new { Area = "" })';
</script>