﻿@model PR.Building4U.WebUI.Models.CronogramaViewModel
@{
    var multiplo = !Model.IdCronograma.HasValue;

    var medicoes = new List<DateTime>();
    var cronogramas = multiplo ? Model.Cronogramas : Model.Cronogramas.Where(c => c.IdCronograma == Model.IdCronograma).ToList();

    var iniMed = cronogramas.Where(c => c.Servicos != null && c.Servicos.Count > 0).Min(c => c.Servicos.Min(s => s.Medicoes != null && s.Medicoes.Count > 0 ? s.Medicoes.Min(m => m.MesReferencia) : DateTime.MaxValue));
    var terMed = cronogramas.Where(c => c.Servicos != null && c.Servicos.Count > 0).Max(c => c.Servicos.Max(s => s.Medicoes != null && s.Medicoes.Count > 0 ? s.Medicoes.Max(m => m.MesReferencia) : DateTime.MinValue));

    for (var d = iniMed; d <= terMed; d = d.AddMonths(1))
    {
        medicoes.Add(d);
    }
}

<table border="1" id="tableCronograma">
    <thead style="background-color:lightgray;white-space:nowrap;">
        <tr>
            <td rowspan="2" style="min-width:25px;"></td>
            <td rowspan="2" style="text-align:center;min-width:35px;">Ord</td>
            <td rowspan="2" style="text-align:center;min-width:120px;">Serviço</td>
            <td rowspan="2" style="text-align:center;min-width:40px;">Un</td>
            <td colspan="3" style="text-align:center;">Quantidade</td>
            <td rowspan="2" style="text-align:center;min-width:35px;">Av</td>
            <td rowspan="2" style="text-align:center;min-width:75px;">Valor<br />R$ x 1.000</td>
            <td rowspan="2" style="text-align:center;min-width:45px;">Nº Eq<br />Med</td>
            <td rowspan="2" style="text-align:center;min-width:45px;">P/E/S<br />Med</td>
            <td rowspan="2" style="text-align:center;min-width:45px;">P/E/S<br />Real</td>
            <td colspan="2" style="text-align:center;">Duração</td>
            <td colspan="3" style="text-align:center;">Datas</td>
            <td colspan="3" style="text-align:center;">Predec</td>
            <td></td>
            @foreach (var mes in medicoes)
            {
                <td style="text-align:center;">@(mes.Month == 1 || mes == medicoes.FirstOrDefault() ? mes.Year.ToString() : "")</td>
            }
        </tr>
        <tr>
            <td style="text-align:center;min-width:50px;">Total</td>
            <td style="text-align:center;min-width:50px;">Exec</td>
            <td style="text-align:center;min-width:50px;">Falta</td>
            <td style="text-align:center;min-width:45px;">Total</td>
            <td style="text-align:center;min-width:45px;">Falta</td>
            <td style="text-align:center;min-width:75px;">Início</td>
            <td style="text-align:center;min-width:75px;">Término</td>
            <td style="text-align:center;min-width:75px;">Últ Prod</td>
            <td style="text-align:center;min-width:40px;">Cod</td>
            <td style="text-align:center;min-width:25px;">T/I</td>
            <td style="text-align:center;min-width:40px;">Dias</td>
            <td style="min-width:45px;"></td>
            @foreach (var mes in medicoes)
            {
                <td style="text-align:center;min-width:45px;">@mes.ToString("MMM")</td>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var cronograma in cronogramas)
        {
            if (multiplo)
            {
                <tr style="background-color:lightblue;font-weight:bold;white-space:nowrap;">
                    <td></td>
                    <td style="text-align:center;" data-cron="@cronograma.IdCronograma" data-tipo="OrdemCronograma" contenteditable="true">@cronograma.OrdemCronograma</td>
                    <td colspan="6" style="padding:0 10px;">@cronograma.NomeCronograma</td>
                    <td style="text-align:center;">@string.Format("{0:#,0}", cronograma.Servicos.Sum(x => x.ValorServico) / 1000)</td>
                    <td colspan="5"></td>
                    <td style="text-align:center;">@(cronograma.InicioCronograma.HasValue ? cronograma.InicioCronograma.Value.ToString("dd/MM/yy") : "")</td>
                    <td style="text-align:center;">@(cronograma.TerminoCronograma.HasValue ? cronograma.TerminoCronograma.Value.ToString("dd/MM/yy") : "")</td>
                    <td></td>
                    <td colspan="3"></td>
                    <td style="border-top:1px solid;">ST</td>
                    @foreach (var mes in medicoes)
                    {
                        var subTotal = cronograma.Servicos.Sum(s => s.Medicoes.Where(m => m.MesReferencia == mes).Sum(m => m.Faturamento)) / 1000;
                        var temMedicao = cronograma.Servicos.Select(s => s.Medicoes?.FirstOrDefault(m => m.MesReferencia == mes)?.TemMedicao ?? false).FirstOrDefault(b => b);
                        <td style="text-align:center;border-top:1px solid;@(temMedicao ? "background-color:lemonchiffon !important;" : "")">@(subTotal > 0 ? string.Format("{0:#,0}", subTotal) : "")</td>
                    }
                </tr>
            }
            foreach (var servico in cronograma.Servicos)
            {
                <tr style="@(servico.QuantidadeTotal > 0 && servico.QuantidadeExecutada >= servico.QuantidadeTotal ? "background-color:lemonchiffon !important;" : "")" class="toggle-table">
                    <td rowspan="4" style="text-align:center;cursor:pointer;" class="toggle-td"><i class="fas fa-minus"></i></td>
                    <td rowspan="4" style="text-align:center;" data-cron="@servico.IdCronograma" data-serv="@servico.IdCronogramaServico" data-tipo="OrdemServico" contenteditable="true"><strong>@(multiplo ? $"{cronograma.OrdemCronograma}.{servico.OrdemServico}" : servico.OrdemServico.ToString())</strong></td>
                    <td rowspan="4" style="padding:0 10px;" data-cron="@servico.IdCronograma" data-serv="@servico.IdCronogramaServico" data-tipo="NomeServico" contenteditable="true"><strong>@servico.Servico.SiglaServico @servico.NomeServico</strong></td>
                    <td rowspan="4" style="text-align:center;">@servico.Servico.Unidade.SiglaUnidade</td>
                    <td rowspan="4" style="text-align:center;@(servico.QuantidadeReal.HasValue ? "background-color:lightgray;" : "")" data-cron="@servico.IdCronograma" data-serv="@servico.IdCronogramaServico" data-tipo="QuantidadeReal" contenteditable="true">@(servico.QuantidadeTotal < 10 ? string.Format("{0:#,0.0}", servico.QuantidadeTotal) : string.Format("{0:#,0}", servico.QuantidadeTotal))</td>
                    <td rowspan="4" style="text-align:center;">@(servico.QuantidadeExecutada < 10 ? string.Format("{0:#,0.0;-#,0.0;#}", servico.QuantidadeExecutada) : string.Format("{0:#,0;-#,0;#}", servico.QuantidadeExecutada))</td>
                    <td rowspan="4" style="text-align:center;">@(servico.QuantidadeTotal - servico.QuantidadeExecutada < 10 ? string.Format("{0:#,0.0;-#,0.0;#}", servico.QuantidadeTotal - servico.QuantidadeExecutada) : string.Format("{0:#,0;-#,0;#}", servico.QuantidadeTotal - servico.QuantidadeExecutada))</td>
                    <td rowspan="4" style="text-align:center;">@string.Format("{0:#,0}", servico.QuantidadeTotal > 0 ? servico.QuantidadeExecutada / servico.QuantidadeTotal * 100 : 0)%</td>
                    <td rowspan="4" style="text-align:center;">@string.Format("{0:#,0}", servico.ValorServico / 1000)</td>
                    <td rowspan="4" style="text-align:center;">@string.Format("{0:#,0.0}", servico.MediaEquipe)</td>
                    <td rowspan="4" style="text-align:center;@(servico.MediaPesReal.HasValue && servico.MediaPes > servico.MediaPesReal ? "background-color:lightgreen;" : "")">@(servico.MediaPes < 10 ? string.Format("{0:#,0.0}", servico.MediaPes) : string.Format("{0:#,0}", servico.MediaPes))</td>
                    <td rowspan="4" style="text-align:center;">@(servico.MediaPesReal.HasValue && servico.MediaPesReal < 10 ? string.Format("{0:#,0.0}", servico.MediaPesReal) : string.Format("{0:#,0}", servico.MediaPesReal))</td>
                    <td rowspan="4" style="text-align:center;">@string.Format("{0:#,0;-#,0;#}", servico.DuracaoTotal)</td>
                    <td rowspan="4" style="text-align:center;">@string.Format("{0:#,0;-#,0;#}", servico.DuracaoFalta)</td>
                    <td rowspan="4" style="text-align:center;@(servico.QuantidadeExecutada <= 0 && servico.InicioServico.HasValue && servico.InicioServico < DateTime.Now.Date ? "background-color:red;color:white;" : "")" data-cron="@servico.IdCronograma" data-serv="@servico.IdCronogramaServico" data-tipo="InicioServico" contenteditable="@(servico.IdServicoPredecessora.HasValue || servico.QuantidadeExecutada > 0 ? "false" : "true")">@(servico.InicioServico.HasValue ? servico.InicioServico.Value.ToString("dd/MM/yy") : "")</td>
                    <td rowspan="4" style="text-align:center;@(servico.TerminoServico.HasValue && cronograma.Obra.OrdemServico != null && servico.TerminoServico.Value > cronograma.Obra.OrdemServico.DataOrdemServico.Value.AddDays(cronograma.Obra.OrdemServico.PrazoOrdemServico.Value - 1) ? "background-color:blueviolet;color:white;" : "")">@(servico.TerminoServico.HasValue ? servico.TerminoServico.Value.ToString("dd/MM/yy") : "")</td>
                    <td rowspan="4" style="text-align:center;@(servico.QuantidadeExecutada > 0 && servico.QuantidadeExecutada < servico.QuantidadeTotal && servico.AtualizacaoServico.HasValue && servico.AtualizacaoServico < DateTime.Now.Date.AddDays(-7) ? "background-color:red;color:white;" : "")">@(servico.AtualizacaoServico.HasValue ? servico.AtualizacaoServico.Value.ToString("dd/MM/yy") : "")</td>
                    @{
                        var ordem = (string)null;

                        if (servico.IdCronogramaPredecessora == cronograma.IdCronograma)
                        {
                            ordem = cronograma.Servicos.FirstOrDefault(s => s.IdCronogramaServico == servico.IdServicoPredecessora)?.OrdemServico.ToString();
                            ordem = multiplo && !string.IsNullOrEmpty(ordem) ? $"{cronograma.OrdemCronograma}.{ordem}" : ordem;
                        }
                        else if (servico.IdCronogramaPredecessora != null)
                        {
                            ordem = Model.Cronogramas.FirstOrDefault(c => c.IdCronograma == servico.IdCronogramaPredecessora).Servicos.FirstOrDefault(s => s.IdCronogramaServico == servico.IdServicoPredecessora)?.OrdemServico.ToString();
                            ordem = multiplo && !string.IsNullOrEmpty(ordem) ? $"{Model.Cronogramas.FirstOrDefault(c => c.IdCronograma == servico.IdCronogramaPredecessora).OrdemCronograma}.{ordem}" : "...";
                        }
                    }
                    <td rowspan="4" style="text-align:center;" data-cron="@servico.IdCronograma" data-serv="@servico.IdCronogramaServico" data-tipo="IdServicoPredecessora" contenteditable="@(ordem == "..." ? "false" : "true")">@ordem</td>
                    <td rowspan="4" style="text-align:center;" data-cron="@servico.IdCronograma" data-serv="@servico.IdCronogramaServico" data-tipo="TipoPredecessora" contenteditable="true">@servico.TipoPredecessora</td>
                    <td rowspan="4" style="text-align:center;" data-cron="@servico.IdCronograma" data-serv="@servico.IdCronogramaServico" data-tipo="AtrasoPredecessora" contenteditable="true">@servico.AtrasoPredecessora</td>
                    <td style="background-color:white!important;"><strong>R$</strong></td>
                    @foreach (var med in medicoes)
                    {
                        var temMedicao = cronograma.Servicos.Select(s => s.Medicoes?.FirstOrDefault(m => m.MesReferencia == med)?.TemMedicao ?? false).FirstOrDefault(b => b);
                        var medicao = servico.Medicoes.FirstOrDefault(m => m.MesReferencia == med);
                        <td style="text-align:center;background-color:white !important;font-weight:bold;@(temMedicao ? "background-color:lemonchiffon !important;" : "")">@(medicao != null && medicao.Faturamento.HasValue ? string.Format("{0:#,0}", medicao.Faturamento / 1000) : "")</td>
                    }
                </tr>
                <tr>
                    <td style="border-top:1px dotted;">Qtd</td>
                    @foreach (var med in medicoes)
                    {
                        var temMedicao = cronograma.Servicos.Select(s => s.Medicoes?.FirstOrDefault(m => m.MesReferencia == med)?.TemMedicao ?? false).FirstOrDefault(b => b);
                        var medicao = servico.Medicoes.FirstOrDefault(m => m.MesReferencia == med);
                        <td style="text-align:center;border-top:1px dotted;@(temMedicao ? "background-color:lemonchiffon !important;" : "")">@(medicao != null && medicao.Quantidade.HasValue ? (medicao.Quantidade < 10 ? string.Format("{0:#,0.0}", medicao.Quantidade) : string.Format("{0:#,0}", medicao.Quantidade)) : "")</td>
                    }
                </tr>
                <tr class="toggle-tr">
                    <td style="border-top:1px dotted;">P/E/S</td>
                    @foreach (var med in medicoes)
                    {
                        var temMedicao = cronograma.Servicos.Select(s => s.Medicoes?.FirstOrDefault(m => m.MesReferencia == med)?.TemMedicao ?? false).FirstOrDefault(b => b);
                        var medicao = servico.Medicoes.FirstOrDefault(m => m.MesReferencia == med);
                        <td style="text-align:center;border-top:1px dotted;@(temMedicao ? "background-color:lemonchiffon !important;" : "")" data-cron="@servico.IdCronograma" data-serv="@servico.IdCronogramaServico" data-tipo="PesMedicao" data-mesref="@med.ToString("dd/MM/yyyy")" contenteditable="true">@(medicao != null ? (medicao.PesMedicao.HasValue && medicao.PesMedicao.Value < 10 ? string.Format("{0:#,0.0}", medicao.PesMedicao) : string.Format("{0:#,0}", medicao.PesMedicao)) : "")</td>
                    }
                </tr>
                <tr class="toggle-tr">
                    <td style="white-space:nowrap;border-top:1px dotted;">Nº Eq</td>
                    @foreach (var med in medicoes)
                    {
                        var temMedicao = cronograma.Servicos.Select(s => s.Medicoes?.FirstOrDefault(m => m.MesReferencia == med)?.TemMedicao ?? false).FirstOrDefault(b => b);
                        var medicao = servico.Medicoes.FirstOrDefault(m => m.MesReferencia == med);
                        <td style="text-align:center;border-top:1px dotted;@(temMedicao ? "background-color:lemonchiffon !important;" : "")" data-cron="@servico.IdCronograma" data-serv="@servico.IdCronogramaServico" data-tipo="EquipeMedicao" data-mesref="@med.ToString("dd/MM/yyyy")" contenteditable="true">@(medicao != null ? string.Format("{0:#,0.0}", medicao.EquipeMedicao) : "")</td>
                    }
                </tr>
            }
        }
    </tbody>
    <tfoot style="font-weight:bold;white-space:nowrap;">
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td colspan="2" style="text-align:right;"><strong>Total:</strong></td>
            <td style="text-align:center;"><strong>@string.Format("{0:#,0}", cronogramas.Sum(c => c.Servicos.Sum(x => x.ValorServico)) / 1000)</strong></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="text-align:center;">@(cronogramas.Min(c => c.InicioCronograma).HasValue ? cronogramas.Min(c => c.InicioCronograma).Value.ToString("dd/MM/yy") : "")</td>
            <td style="text-align:center;">@(cronogramas.Max(c => c.TerminoCronograma).HasValue ? cronogramas.Max(c => c.TerminoCronograma).Value.ToString("dd/MM/yy") : "")</td>
            <td></td>
            <td></td>
            <td></td>
            <td colspan="2" style="text-align:right;"><strong>Fat Total</strong></td>
            @{
                var fatMensal = new Dictionary<DateTime, decimal>();
                foreach (var mes in medicoes)
                {
                    var fatMes = cronogramas.Sum(c => c.Servicos.Sum(s => s.Medicoes.Where(m => m.MesReferencia == mes).Sum(m => m.Faturamento))) ?? 0;
                    fatMensal.Add(mes, fatMes);
                    <td style="text-align:center;">@string.Format("{0:#,0}", fatMes / 1000)</td>
                }
            }
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td colspan="2" style="text-align:right;"><strong>Fat Acum</strong></td>
            @foreach (var mes in medicoes)
            {
                <td style="text-align:center;">@string.Format("{0:#,0}", cronogramas.Sum(c => c.Servicos.Sum(s => s.Medicoes.Where(m => m.MesReferencia <= mes).Sum(m => m.Faturamento))) / 1000)</td>
            }
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td colspan="2" style="text-align:right;"><strong>Prev Prod</strong></td>
            @{
                var chanceMensal = new Dictionary<DateTime, decimal>();
                var mesSemMed = cronogramas.FirstOrDefault().Servicos?.FirstOrDefault().Medicoes?.FirstOrDefault(m => !m.TemMedicao)?.MesReferencia;
                foreach (var mes in medicoes)
                {
                    var chanceMes = (mesSemMed != null && mes == mesSemMed) ? cronogramas.Sum(c => c.Servicos.Sum(s => s.Medicoes.Where(m => m.MesReferencia == mes).Sum(m => m.Faturamento * s.ChanceFaturamento))) ?? 0 : 0;
                    chanceMensal.Add(mes, chanceMes);
                    <td style="text-align:center;">@(chanceMes > 0 ? string.Format("{0:#,0}", chanceMes / 1000) : "")</td>
                }
            }
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td colspan="2" style="text-align:right;"><strong>Chance</strong></td>
            @foreach (var mes in medicoes)
            {
                <td style="text-align:center;">@(chanceMensal[mes] > 0 ? string.Format("{0:#,0}%", chanceMensal[mes] / fatMensal[mes] * 100) : "")</td>
            }
        </tr>
    </tfoot>
</table>