﻿@model PR.Building4U.WebUI.Models.CronogramaViewModel
@{
    var multiplo = !Model.IdCronograma.HasValue;

    var medicoes = new List<DateTime>();
    var cronogramas = multiplo ? Model.Cronogramas : Model.Cronogramas.Where(c => c.IdCronograma == Model.IdCronograma).ToList();

    var iniMed = cronogramas.Where(c => c.Planilhas != null && c.Planilhas.Count > 0).Min(c => c.Planilhas.Where(p => p.Itens != null && p.Itens.Count > 0).Min(p => p.Itens.Min(i => i.Medicoes != null && i.Medicoes.Count > 0 ? i.Medicoes.Min(m => m.PeriodoMedicao) : DateTime.MaxValue)));
    var terMed = cronogramas.Where(c => c.Planilhas != null && c.Planilhas.Count > 0).Max(c => c.Planilhas.Where(p => p.Itens != null && p.Itens.Count > 0).Max(p => p.Itens.Max(i => i.Medicoes != null && i.Medicoes.Count > 0 ? i.Medicoes.Max(m => m.PeriodoMedicao) : DateTime.MinValue)));

    for (var d = iniMed; d <= terMed; d = d.AddMonths(1))
    {
        medicoes.Add(d);
    }
}

<table border="1" id="tableMedicao">
    <thead style="background-color:lightgray;white-space:nowrap;">
        <tr>
            <td rowspan="2" style="text-align:center;min-width:130px;max-width:150px;">Serviço</td>
            <td rowspan="2" style="text-align:center;min-width:35px;">Crtl</td>
            <td rowspan="2" style="text-align:center;min-width:50px;">Item</td>
            <td rowspan="2" style="text-align:center;min-width:250px;max-width:300px;">Descrição</td>
            <td rowspan="2" style="text-align:center;min-width:40px;">Unid</td>
            <td rowspan="2" style="text-align:center;min-width:100px;">Preço<br />Unit</td>
            @foreach (var mes in medicoes)
            {
                <td rowspan="2" style="min-width:15px;"></td>
                <td style="text-align:center;">Período:</td>
                <td style="text-align:center;">@mes.ToString("MMM/yyyy")</td>
            }
        </tr>
        <tr>
            @foreach (var mes in medicoes)
            {
                <td style="text-align:center;min-width:100px;">Quantidade</td>
                <td style="text-align:center;min-width:100px;">Valor R$</td>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var cronograma in cronogramas)
        {
            if (multiplo)
            {
                <tr style="background-color:lightblue;font-weight:bold;border-bottom:1px solid;border-top:1px solid;">
                    <td></td>
                    <td></td>
                    <td colspan="4" style="padding:0 10px;">@cronograma.NomeCronograma</td>
                    @foreach (var mes in medicoes)
                    {
                        <td></td>
                        <td></td>
                        <td></td>
                    }
                </tr>
            }
            foreach (var planilha in cronograma.Planilhas)
            {
                foreach (var item in planilha.Itens)
                {
                    if (item.EhTituloItem)
                    {
                        <tr style="background-color:lightgreen;font-weight:bold;border-bottom:1px solid;border-top:1px solid;">
                            <td></td>
                            <td></td>
                            <td style="text-align:center;">@item.CodigoItem</td>
                            <td colspan="3" style="padding:0 10px;">@item.DescricaoItem</td>
                            @foreach (var mes in medicoes)
                            {
                                <td></td>
                                <td></td>
                                <td></td>
                            }
                        </tr>
                    }
                    else
                    {
                        var servicoItem = cronograma.Servicos.FirstOrDefault(s => s.IdCronogramaServico == item.IdCronogramaServico);
                        var nomeServico = servicoItem?.Servico.SiglaServico + (string.IsNullOrEmpty(servicoItem.NomeServico) ? "" : $" {servicoItem.NomeServico}");

                        <tr style="border-bottom:1px dotted;">
                            <td style="padding:0 10px;">@nomeServico</td>
                            <td style="text-align:center;">@(item.EhItemControle ? "X" : "")</td>
                            <td style="text-align:center;">@item.CodigoItem</td>
                            <td style="padding:0 10px;">@item.DescricaoItem</td>
                            <td style="text-align:center;">@(item.Unidade?.SiglaUnidade)</td>
                            <td style="text-align:right;padding:0 10px;@(item.PrecoItem < 0 ? "color:indianred;" : "")">@string.Format("{0:#,0.00;-#,0.00;#}", item.PrecoItem)</td>
                            @foreach (var mes in medicoes)
                            {
                                var medicao = item.Medicoes.FirstOrDefault(m => m.PeriodoMedicao == mes);
                                var quantidade = medicao?.QuantidadeMedicao;
                                var valor = medicao?.ValorMedicao;

                                <td></td>
                                <td style="text-align:right;padding:0 10px;@(quantidade < 0 ? "color:indianred;" : "")">@string.Format("{0:#,0.00;-#,0.00;#}", quantidade)</td>
                                <td style="text-align:right;padding:0 10px;@(valor < 0 ? "color:indianred;" : "")">@string.Format("{0:#,0.00;-#,0.00;#}", valor)</td>
                            }
                        </tr>
                    }
                }
                <tr style="height:25px;">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    @foreach (var mes in medicoes)
                    {
                        <td></td>
                        <td></td>
                        <td></td>
                    }
                </tr>
            }
        }
    </tbody>
    <tfoot style="font-weight:bold;white-space:nowrap;">
        <tr>
            <td style="text-align:right;padding:0 10px;" colspan="6">TOTAL : R$ </td>
            @foreach (var mes in medicoes)
            {
                var totalGeral = cronogramas.Sum(c => c.Planilhas.Sum(p => p.Itens.Sum(i => i.Medicoes.Where(m => m.PeriodoMedicao == mes).Sum(m => m.ValorMedicao))));

                <td></td>
                <td colspan="2" style="text-align:right;padding:0 10px;@(totalGeral < 0 ? "color:indianred;" : "")">@string.Format("{0:#,0.00;-#,0.00;#}", totalGeral)</td>
            }
        </tr>
    </tfoot>
</table>