﻿@model PR.Building4U.WebUI.Models.CronogramaViewModel
@{
    var multiplo = !Model.IdCronograma.HasValue;

    var cronogramas = multiplo ? Model.Cronogramas : Model.Cronogramas.Where(c => c.IdCronograma == Model.IdCronograma).ToList();
}

<table border="1" id="tablePlanilha">
    <thead style="background-color:lightgray;white-space:nowrap;">
        <tr>
            <td rowspan="2" style="text-align:center;min-width:25px;"></td>
            <td rowspan="2" style="text-align:center;min-width:130px;max-width:150px;">Serviço</td>
            <td rowspan="2" style="text-align:center;min-width:35px;">Crtl</td>
            <td rowspan="2" style="text-align:center;min-width:50px;">Item</td>
            <td rowspan="2" style="text-align:center;min-width:250px;max-width:300px;">Descrição</td>
            <td rowspan="2" style="text-align:center;min-width:40px;">Unid</td>
            <td rowspan="2" style="text-align:center;min-width:100px;">Preço<br />Unit</td>
            <td colspan="3" style="text-align:center;">Quantidades</td>
            <td rowspan="2" style="text-align:center;min-width:100px;">Valor<br />R$</td>
        </tr>
        <tr>
            <td style="text-align:center;min-width:100px;">Proposta</td>
            <td style="text-align:center;min-width:100px;">Acerto</td>
            <td style="text-align:center;min-width:100px;">Total</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var cronograma in cronogramas)
        {
            if (multiplo)
            {
                <tr style="background-color:lightblue;font-weight:bold;border-bottom:1px solid;border-top:1px solid;">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td colspan="8" style="padding:0 10px;">@cronograma.NomeCronograma</td>
                </tr>
            }
            foreach (var planilha in cronograma.Planilhas)
            {
                foreach (var item in planilha.Itens)
                {
                    if (item.EhTituloItem)
                    {
                        <tr style="background-color:lightgreen;font-weight:bold;border-bottom:1px solid;border-top:1px solid;">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td style="text-align:center;">@item.CodigoItem</td>
                            <td colspan="6" style="padding:0 10px;">@item.DescricaoItem</td>
                            <td></td>
                        </tr>
                    }
                    else
                    {
                        var servicoItem = cronograma.Servicos.FirstOrDefault(s => s.IdCronogramaServico == item.IdCronogramaServico);
                        var nomeServico = servicoItem?.Servico.SiglaServico + (string.IsNullOrEmpty(servicoItem.NomeServico) ? "" : $" {servicoItem.NomeServico}");
                        var quantidadeTotal = item.QuantidadeItem ?? 0 + item.QuantidadeAcertoItem ?? 0;
                        var valorTotal = quantidadeTotal * item.PrecoItem;

                        <tr style="border-bottom:1px dotted;">
                            <td style="text-align:center;"><a onclick="cronograma.ModificarServico(@cronograma.IdCronograma, @planilha.IdPlanilha, @item.IdPlanilhaItem)"><i class="fas fa-pencil-alt"></i></a></td>
                            <td style="padding:0 10px;">@nomeServico</td>
                            <td style="text-align:center;" data-cron="@cronograma.IdCronograma" data-tipo="EhItemControle" data-plan="@item.IdPlanilha" data-item="@item.IdPlanilhaItem" contenteditable="true">@(item.EhItemControle ? "X" : "")</td>
                            <td style="text-align:center;">@item.CodigoItem</td>
                            <td style="padding:0 10px;">@item.DescricaoItem</td>
                            <td style="text-align:center;">@(item.Unidade?.SiglaUnidade)</td>
                            <td style="text-align:right;padding:0 10px;@(item.PrecoItem < 0 ? "color:indianred;" : "")">@string.Format("{0:#,0.00;-#,0.00;#}", item.PrecoItem)</td>
                            <td style="text-align:right;padding:0 10px;@(item.QuantidadeItem < 0 ? "color:indianred;" : "")">@string.Format("{0:#,0.00;-#,0.00;#}", item.QuantidadeItem)</td>
                            <td style="text-align:right;padding:0 10px;@(item.QuantidadeAcertoItem < 0 ? "color:indianred;" : "")" data-cron="@cronograma.IdCronograma" data-tipo="QuantidadeAcertoItem" data-plan="@item.IdPlanilha" data-item="@item.IdPlanilhaItem" contenteditable="true">@string.Format("{0:#,0.00;-#,0.00;#}", item.QuantidadeAcertoItem)</td>
                            <td style="text-align:right;padding:0 10px;@(quantidadeTotal < 0 ? "color:indianred;" : "")">@string.Format("{0:#,0.00;-#,0.00;#}", quantidadeTotal)</td>
                            <td style="text-align:right;padding:0 10px;@(valorTotal < 0 ? "color:indianred;" : "")">@string.Format("{0:#,0.00;-#,0.00;#}", valorTotal)</td>
                        </tr>
                    }
                }
                <tr style="height:25px;">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            }
        }
    </tbody>
    <tfoot style="font-weight:bold;white-space:nowrap;">
        <tr>
            @{
                var totalItem = cronogramas.Sum(c => c.Planilhas.Sum(p => p.Itens.Sum(i => i.QuantidadeItem * i.PrecoItem)));
                var totalAcerto = cronogramas.Sum(c => c.Planilhas.Sum(p => p.Itens.Sum(i => i.QuantidadeAcertoItem * i.PrecoItem)));
                var totalGeral = cronogramas.Sum(c => c.Planilhas.Sum(p => p.Itens.Sum(i => (i.QuantidadeItem + i.QuantidadeAcertoItem) * i.PrecoItem)));
            }
            <td style="text-align:right;padding:0 10px;" colspan="7">TOTAL : R$ </td>
            <td style="text-align:right;padding:0 10px;@(totalItem < 0 ? "color:indianred;" : "")">@string.Format("{0:#,0.00;-#,0.00;#}", totalItem)</td>
            <td style="text-align:right;padding:0 10px;@(totalAcerto < 0 ? "color:indianred;" : "")">@string.Format("{0:#,0.00;-#,0.00;#}", totalAcerto)</td>
            <td></td>
            <td style="text-align:right;padding:0 10px;@(totalGeral < 0 ? "color:indianred;" : "")">@string.Format("{0:#,0.00;-#,0.00;#}", totalGeral)</td>
        </tr>
    </tfoot>
</table>