﻿@model PR.Building4U.WebUI.Models.CronogramaViewModel
@using System.Globalization
@{
    var multiplo = !Model.IdCronograma.HasValue;

    var datas = new List<DateTime>();
    var cronogramas = multiplo ? Model.Cronogramas : Model.Cronogramas.Where(c => c.IdCronograma == Model.IdCronograma).ToList();

    var iniDat = cronogramas.Min(c => c.InicioCronograma ?? DateTime.MaxValue);
    iniDat = iniDat.AddDays((1 - (int)iniDat.DayOfWeek - 7) % 7);
    var terDat = cronogramas.Max(c => c.TerminoCronograma ?? DateTime.MinValue);
    var hojDat = DateTime.Now.Date;
    terDat = terDat > hojDat ? hojDat : terDat;
    terDat = terDat.AddDays((0 - (int)terDat.DayOfWeek + 7) % 7);

    for (var d = iniDat; d <= terDat; d = d.AddDays(1))
    {
        datas.Add(d);
    }
}

<table border="1" id="tableProducao">
    <thead style="background-color:lightgray;white-space:nowrap;">
        @if (multiplo)
        {
            <tr>
                <td colspan="2" rowspan="3" style="text-align:center;">Dia / Semana</td>
                @foreach (var cronograma in cronogramas)
                {
                    <td colspan="@(cronograma.Servicos.Count * 3)" style="text-align:center;">@cronograma.NomeCronograma</td>
                }
            </tr>
        }
        <tr>
            @if (!multiplo)
            {
                <td colspan="2" rowspan="2" style="text-align:center;">Dia / Semana</td>
            }
            @foreach (var cronograma in cronogramas)
            {
                foreach (var servico in cronograma.Servicos)
                {
                    <td colspan="3" style="text-align:center;@(servico.QuantidadeExecutada >= servico.QuantidadeTotal ? "background-color:lemonchiffon;" : "")">@(servico.Servico.SiglaServico + (string.IsNullOrEmpty(servico.NomeServico) ? "" : $" {servico.NomeServico}"))</td>
                }
            }
        </tr>
        <tr>
            @foreach (var cronograma in cronogramas)
            {
                foreach (var servico in cronograma.Servicos)
                {
                    <td style="text-align:center;min-width:50px;max-width:60px;@(servico.QuantidadeExecutada >= servico.QuantidadeTotal ? "background-color:lemonchiffon;" : "")">@(multiplo ? $"{cronograma.OrdemCronograma}.{servico.OrdemServico}" : servico.OrdemServico.ToString())</td>
                    <td style="text-align:center;min-width:40px;max-width:50px;white-space:normal;border-left:1px dashed;@(servico.QuantidadeExecutada >= servico.QuantidadeTotal ? "background-color:lemonchiffon;" : "")">@servico.Servico.Unidade.SiglaUnidade</td>
                    <td style="text-align:center;min-width:100px;max-width:200px;border-left:1px dashed;@(servico.QuantidadeExecutada >= servico.QuantidadeTotal ? "background-color:lemonchiffon;" : "")">Obs</td>
                }
            }
        </tr>
    </thead>
    <tbody>
        <tr style="font-weight:bold;" class="toggle-table">
            <td style="text-align:center;min-width:110px;"></td>
            <td style="text-align:center;min-width:90px;"></td>
            <td style="text-align:center;"></td>
            <td style="text-align:center;border-left:1px dashed;"></td>
            <td style="border-left:1px dashed;"></td>
            <td style="text-align:center;"></td>
            <td style="text-align:center;border-left:1px dashed;"></td>
            <td style="border-left:1px dashed;"></td>
        </tr>
        @foreach (var data in datas)
        {
            var diaSemana = new CultureInfo("pt-BR").DateTimeFormat.GetAbbreviatedDayName(data.DayOfWeek);

            <tr style="@(data.DayOfWeek == DayOfWeek.Saturday || data.DayOfWeek == DayOfWeek.Sunday ? "background-color:lightgray;" : "")">
                <td style="text-align:center;">@data.ToString("dd/MMM/yy")</td>
                <td style="text-align:center;">@diaSemana</td>
                @foreach (var cronograma in cronogramas)
                {
                    foreach (var servico in cronograma.Servicos)
                    {
                        var producao = servico.Producoes.FirstOrDefault(p => p.DataProducao == data);

                        <td style="text-align:center;@(servico.QuantidadeExecutada >= servico.QuantidadeTotal ? "background-color:lemonchiffon;" : "")" data-cron="@servico.IdCronograma" data-serv="@servico.IdCronogramaServico" data-tipo="QuantidadeProducao" data-prod="@data.ToString("dd/MM/yyyy")" contenteditable="true">@string.Format("{0:#,0.0}", producao?.QuantidadeProducao)</td>
                        <td style="text-align:center;border-left:1px dashed;@(servico.QuantidadeExecutada >= servico.QuantidadeTotal ? "background-color:lemonchiffon;" : "")" data-cron="@servico.IdCronograma" data-serv="@servico.IdCronogramaServico" data-tipo="EquipeProducao" data-prod="@data.ToString("dd/MM/yyyy")" contenteditable="true">@string.Format("{0:#,0.0}", producao?.EquipeProducao)</td>
                        <td style="border-left:1px dashed;padding:0 10px;white-space:normal;@(servico.QuantidadeExecutada >= servico.QuantidadeTotal ? "background-color:lemonchiffon;" : "")" data-cron="@servico.IdCronograma" data-serv="@servico.IdCronogramaServico" data-tipo="ObservacaoProducao" data-prod="@data.ToString("dd/MM/yyyy")" contenteditable="true">@(producao?.ObservacaoProducao)</td>
                    }
                }
            </tr>

            if (data.DayOfWeek == DayOfWeek.Sunday)
            {
                var priDia = data.AddDays((1 - (int)data.DayOfWeek - 7) % 7);

                <tr style="font-weight:bold;" class="toggle-table">
                    <td style="text-align:center;cursor:pointer;" class="toggle-td"><span>-</span>  Total Sem.</td>
                    <td style="text-align:center;">@priDia.ToString("dd/MMM/yy")</td>
                    @foreach (var cronograma in cronogramas)
                    {
                        foreach (var servico in cronograma.Servicos)
                        {
                            var producoes = servico.Producoes.Where(p => p.DataProducao <= data && p.DataProducao >= priDia).ToList();

                            <td style="text-align:center;@(servico.QuantidadeExecutada >= servico.QuantidadeTotal ? "background-color:lemonchiffon;" : "")">@string.Format("{0:#,0.0;-#,0.0;#}", producoes.Sum(p => p.QuantidadeProducao))</td>
                            <td style="text-align:center;border-left:1px dashed;@(servico.QuantidadeExecutada >= servico.QuantidadeTotal ? "background-color:lemonchiffon;" : "")">@string.Format("{0:#,0.0;-#,0.0;#}", producoes.Sum(p => p.EquipeProducao > 0 ? p.QuantidadeProducao / p.EquipeProducao : 0))</td>
                            <td style="border-left:1px dashed;@(servico.QuantidadeExecutada >= servico.QuantidadeTotal ? "background-color:lemonchiffon;" : "")"></td>
                        }
                    }
                </tr>
            }
        }
    </tbody>
    <tfoot style="white-space:nowrap;">
        <tr style="font-weight:bold;border-style:solid;border-width:2px 0;">
            <td colspan="2" style="padding:0 10px;">Quant Executada</td>
            @foreach (var cronograma in cronogramas)
            {
                foreach (var servico in cronograma.Servicos)
                {
                    <td colspan="2" style="text-align:center;@(servico.QuantidadeExecutada >= servico.QuantidadeTotal ? "background-color:lemonchiffon;" : "")">@string.Format("{0:#,0}", servico.QuantidadeExecutada)</td>
                    <td style="border-left:1px dashed;@(servico.QuantidadeExecutada >= servico.QuantidadeTotal ? "background-color:lemonchiffon;" : "")"></td>
                }
            }
        </tr>
        <tr style="background-color:lightgray;">
            <td colspan="2" style="padding:0 10px;">P/E/S Real</td>
            @foreach (var cronograma in cronogramas)
            {
                foreach (var servico in cronograma.Servicos)
                {
                    <td colspan="2" style="text-align:center;">@string.Format("{0:#,0}", servico.MediaPesReal)</td>
                    <td style="border-left:1px dashed;"></td>
                }
            }
        </tr>
        <tr style="border-bottom:1px dotted;">
            <td colspan="2" style="padding:0 10px;">Quant Total</td>
            @foreach (var cronograma in cronogramas)
            {
                foreach (var servico in cronograma.Servicos)
                {
                    <td colspan="2" style="text-align:center;">@string.Format("{0:#,0}", servico.QuantidadeTotal)</td>
                    <td style="border-left:1px dashed;"></td>
                }
            }
        </tr>
        <tr>
            <td colspan="2" style="padding:0 10px;">Quant Falta</td>
            @foreach (var cronograma in cronogramas)
            {
                foreach (var servico in cronograma.Servicos)
                {
                    <td colspan="2" style="text-align:center;">@string.Format("{0:#,0}", servico.QuantidadeTotal - servico.QuantidadeExecutada)</td>
                    <td style="border-left:1px dashed;"></td>
                }
            }
        </tr>
    </tfoot>
</table>