﻿@using PR.Building4U.WebUI.Helper

<div class="form">
    @Html.Hidden("hidIdCronograma")
    @Html.Hidden("hidIdPlanilha")
    @Html.Hidden("hidIdPlanilhaItem")
    <div class="row">
        <div class="col-xlg-12 col-lg-12 col-md-12 col-sm-12 col-12">
            @Html.Select("selIdCronogramaServico", null, false, "Transferir", new { @class = "form-control select2" })
        </div>
        <div class="col-xlg-12 col-lg-12 col-md-12 col-sm-12 col-12">
            @Html.Select("selIdServico", null, false, "Novo", new { @class = "form-control select2" })
        </div>
    </div>
</div>