﻿@using PR.Building4U.WebUI.Helper
@using PR.Building4U.WebUI.Models
@{ Layout = "~/Views/Shared/_LayoutCron.cshtml"; }

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active show" data-toggle="tab" href="#panelCronograma" role="tab" aria-selected="true"><span class="hidden-sm-up"><i class="ti-home"></i></span> <span class="hidden-xs-down">Cronograma</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#panelPlanilha" role="tab" aria-selected="false"><span class="hidden-sm-up"><i class="ti-user"></i></span> <span class="hidden-xs-down">QQP</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#panelMedicao" role="tab" aria-selected="false"><span class="hidden-sm-up"><i class="ti-user"></i></span> <span class="hidden-xs-down">Medições</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#panelProducao" role="tab" aria-selected="false"><span class="hidden-sm-up"><i class="ti-email"></i></span> <span class="hidden-xs-down">Produção</span></a>
                </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content tabcontent-border">
                <div class="tab-pane p-20 active show" id="panelCronograma" role="tabpanel">
                    <div id="divCronograma" style="height:70vh;overflow-y:auto;"></div>
                </div>
                <div class="tab-pane p-20" id="panelPlanilha" role="tabpanel">
                    <div id="divPlanilha" style="height:70vh;overflow-y:auto;"></div>
                </div>
                <div class="tab-pane p-20" id="panelMedicao" role="tabpanel">
                    <div id="divMedicao" style="height:70vh;overflow-y:auto;"></div>
                </div>
                <div class="tab-pane p-20" id="panelProducao" role="tabpanel">
                    <div id="divProducao" style="height:70vh;overflow-y:auto;"></div>
                </div>
            </div>
        </div>
    </div>
</div>

@{
    var botoes = new List<ButtonViewModel>()
{
        new ButtonViewModel(){ Id = "btnCancelar", Text = "Cancelar", Icon = "fas fa-times", Color = "danger", Classe = "btn-rounded", Click = "cronograma.CancelarServico()" },
        new ButtonViewModel(){ Id = "btnSalvar", Text = "Salvar", Icon = "fas fa-check", Color = "info", Classe = "btn-rounded", Click = "cronograma.SalvarServico()" }
    };
}

@Html.Modal("modalServico", "Serviço", Html.Partial("_Servico").ToString(), true, botoes)

<script>
    cronograma.idObra = @ViewBag.IdObra;
    cronograma.idCronograma = @(ViewBag.IdCronograma ?? "null");

    var urlCarregar = '@Url.Action("Carregar", "Cronograma", new { Area = "" })';
    var urlModificar = '@Url.Action("Modificar", "Cronograma", new { Area = "" })';
    var urlSalvar = '@Url.Action("Salvar", "Cronograma", new { Area = "" })';
    var urlListarServicos = '@Url.Action("ListarServicos", "Cronograma", new { Area = "" })';
</script>