﻿@using PR.Building4U.WebUI.Helper

<div class="form">
    <div class="row">
        @Html.Hidden("hidIdFuncionarioFerias")
        @Html.Hidden("hidSituacaoFuncionario")
        <div class="col-xlg-5 col-lg-5 col-md-5 col-sm-6 col-6" id="divInicioFerias">
            @Html.InputData("inpInicioFerias", null, true, "Início Férias", "", new { @class = "form-control" })
        </div>
        <div class="col-xlg-5 col-lg-5 col-md-5 col-sm-6 col-6">
            @Html.InputData("inpTerminoFerias", null, true, "Término Férias", "", new { @class = "form-control" })
        </div>
        <div class="col-xlg-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <h5>Confirma o <span id="spnTipoFerias"></span> das férias do funcionário <span id="spnNomeFuncionario"></span>?</h5>
        </div>
    </div>
</div>