﻿@using PR.Building4U.WebUI.Helper

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Filtros</h4>
                <div class="form">
                    <div class="row">
                        <div class="col-xlg-4 col-lg-6 col-md-9 col-sm-12 col-12">
                            @Html.Select("selFiltroObra", null, false, "Obras", new { @class = "form-control select2" })
                        </div>
                        <div class="col-xlg-4 col-lg-6 col-md-9 col-sm-12 col-12">
                            @Html.Select("selFiltroCargo", null, false, "Cargos", new { @class = "form-control select2" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>