﻿@using PR.Building4U.WebUI.Helper
@using PR.Building4U.WebUI.Models

@{ ViewBag.Title = "Alocação de Funcionários"; }

@Html.Partial("_Filtro")

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table id="tabelaCadastro" class="table table-bordered table-striped dataTable" style="width:100%"></table>
                </div>
            </div>
        </div>
    </div>
</div>

@{
    var botoesTransferir = new List<ButtonViewModel>()
    {
        new ButtonViewModel(){ Id = "btnCancelar", Text = "Cancelar", Icon = "fas fa-times", Color = "danger", Classe = "btn-rounded", Click = "alocacaoFuncionario.CancelarTransferencia()" },
        new ButtonViewModel(){ Id = "btnTransferir", Text = "Transferir", Icon = "fas fa-random", Color = "info", Classe = "btn-rounded", Click = "alocacaoFuncionario.SalvarTransferencia()" }
    };

    var botoesFerias = new List<ButtonViewModel>()
    {
        new ButtonViewModel(){ Id = "btnCancelar", Text = "Cancelar", Icon = "fas fa-times", Color = "danger", Classe = "btn-rounded", Click = "alocacaoFuncionario.CancelarFerias()" },
        new ButtonViewModel(){ Id = "btnConfirmar", Text = "Confirmar", Icon = "fas fa-check", Color = "info", Classe = "btn-rounded", Click = "alocacaoFuncionario.SalvarFerias()" }
    };
}

@Html.Modal("modalTransferencia", "Transferência", Html.Partial("_Transferencia").ToString(), true, botoesTransferir)
@Html.Modal("modalFerias", "Férias", Html.Partial("_Ferias").ToString(), true, botoesFerias)

<script>
    var urlListar = '@Url.Action("Listar", "AlocacaoFuncionario", new { Area = "" })';
    var urlTransferir = '@Url.Action("Transferir", "AlocacaoFuncionario", new { Area = "" })';
    var urlDesfazer = '@Url.Action("Desfazer", "AlocacaoFuncionario", new { Area = "" })';
    var urlCancelar = '@Url.Action("Cancelar", "AlocacaoFuncionario", new { Area = "" })';
    var urlFolgar = '@Url.Action("Folgar", "AlocacaoFuncionario", new { Area = "" })';
    var urlListarObras = '@Url.Action("ListarObras", "AlocacaoFuncionario", new { Area = "" })';
    var urlListarCargos = '@Url.Action("ListarCargos", "AlocacaoFuncionario", new { Area = "" })';
</script>