﻿@using PR.Building4U.WebUI.Helper

<div class="form">
    <div class="row">
        <div class="col-xlg-4 col-lg-6 col-md-8 col-sm-12 col-12">
            @Html.Input("inpNomeGerencia", "", true, "Nome", "", new { @class = "form-control", @maxlength = "30" })
        </div>
        <div class="col-xlg-2 col-lg-3 col-md-4 col-sm-7 col-7">
            @Html.Input("inpSiglaGerencia", "", true, "Sigla", "", new { @class = "form-control upper-text", @maxlength = "10" })
        </div>
    </div>
</div>