﻿@using PR.Building4U.WebUI.Helper
@using PR.Building4U.WebUI.Models

@{ ViewBag.Title = "Cadastro de Gerências"; }

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table id="tabelaCadastro" class="table table-bordered table-striped dataTable" style="width:100%"></table>
                </div>
            </div>
        </div>
    </div>
</div>

@{
    var botoes = new List<ButtonViewModel>()
    {
        new ButtonViewModel(){ Id = "btnCancelar", Text = "Cancelar", Icon = "fas fa-times", Color = "danger", Classe = "btn-rounded", Click = "cadastroGerencias.Cancelar()" },
        new ButtonViewModel(){ Id = "btnSalvar", Text = "Salvar", Icon = "fas fa-check", Color = "info", Classe = "btn-rounded", Click = "cadastroGerencias.Salvar()" }
    };
}

@Html.Modal("modalCadastro", "Cadastro de Gerência", Html.Partial("_Cadastro").ToString(), true, botoes)

<script>
    var urlListar = '@Url.Action("Listar", "CadastroGerencias", new { Area = "" })';
    var urlIncluir = '@Url.Action("Incluir", "CadastroGerencias", new { Area = "" })';
    var urlExcluir = '@Url.Action("Excluir", "CadastroGerencias", new { Area = "" })';
    var urlObter = '@Url.Action("Obter", "CadastroGerencias", new { Area = "" })';
</script>