﻿@using PR.Building4U.WebUI.Helper

<div class="form">
    <div class="row">
        @Html.Hidden("hidIdContrato")
        <div class="col-xlg-4 col-lg-6 col-md-9 col-sm-12 col-12">
            @Html.Select("selIdCliente", null, true, "Cliente", new { @class = "form-control select2" })
        </div>
        <div class="col-xlg-6 col-lg-10 col-md-12 col-sm-12 col-12">
            @Html.Input("inpCodigoContrato", "", true, "Número", "", new { @class = "form-control", @maxlength = "50" })
        </div>
        <div class="col-xlg-2 col-lg-3 col-md-4 col-sm-7 col-7">
            @Html.InputData("inpDataContrato", null, true, "Data", "", new { @class = "form-control" })
        </div>
        <div class="col-xlg-3 col-lg-5 col-md-5 col-sm-8 col-8">
            @Html.InputDinheiro("inpValorContrato", "", true, "Valor", "", new { @class = "form-control" })
        </div>
        <div class="col-xlg-1 col-lg-2 col-md-3 col-sm-4 col-4">
            @Html.InputNumerico("inpPrazoContrato", "", true, "Prazo", "", new { @class = "form-control", @maxlength = "4" })
        </div>
        <div class="col-xlg-12 col-lg-10 col-md-12 col-sm-12 col-12">
            @Html.TextArea("txtEscopoContrato", "", 3, 0, false, "Escopo", "", new { @class = "form-control" })
        </div>
    </div>
</div>