﻿@using PR.Building4U.WebUI.Helper
@using PR.Building4U.WebUI.Models

@{ ViewBag.Title = "Cadastro de Contratos"; }

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table id="tabelaCadastro" class="table table-bordered table-striped dataTable" style="width:100%"></table>
                </div>
            </div>
        </div>
    </div>
</div>

@{
    var botoes = new List<ButtonViewModel>()
    {
        new ButtonViewModel(){ Id = "btnCancelar", Text = "Cancelar", Icon = "fas fa-times", Color = "danger", Classe = "btn-rounded", Click = "cadastroContratos.Cancelar()" },
        new ButtonViewModel(){ Id = "btnSalvar", Text = "Salvar", Icon = "fas fa-check", Color = "info", Classe = "btn-rounded", Click = "cadastroContratos.Salvar()" }
    };
    var botoesAditivo = new List<ButtonViewModel>()
    {
        new ButtonViewModel(){ Id = "btnCancelar", Text = "Cancelar", Icon = "fas fa-times", Color = "danger", Classe = "btn-rounded", Click = "cadastroContratos.CancelarAditivo()" },
        new ButtonViewModel(){ Id = "btnSalvar", Text = "Salvar", Icon = "fas fa-check", Color = "info", Classe = "btn-rounded", Click = "cadastroContratos.SalvarAditivo()" }
    };
}

@Html.Modal("modalCadastro", "Cadastro de Contrato", Html.Partial("_Cadastro").ToString(), true, botoes)

@Html.Modal("modalAditivo", "Aditivos", Html.Partial("_Aditivos").ToString(), false, null)

@Html.Modal("modalCadastroAditivo", "Cadastro de Aditivo", Html.Partial("_AditivoCadastro").ToString(), true, botoesAditivo)

<script>
    var urlListar = '@Url.Action("Listar", "CadastroContratos", new { Area = "" })';
	var urlIncluir = '@Url.Action("Incluir", "CadastroContratos", new { Area = "" })';
	var urlEditar = '@Url.Action("Editar", "CadastroContratos", new { Area = "" })';
	var urlExcluir = '@Url.Action("Excluir", "CadastroContratos", new { Area = "" })';
    var urlObter = '@Url.Action("Obter", "CadastroContratos", new { Area = "" })';
    var urlListarClientes = '@Url.Action("ListarClientes", "CadastroContratos", new { Area = "" })';
    var urlListarAditivos = '@Url.Action("ListarAditivos", "CadastroContratos", new { Area = "" })';
    var urlIncluirAditivo = '@Url.Action("IncluirAditivo", "CadastroContratos", new { Area = "" })';
    var urlExcluirAditivo = '@Url.Action("ExcluirAditivo", "CadastroContratos", new { Area = "" })';
</script>