﻿@using PR.Building4U.WebUI.Helper
<div class="form">
    <div class="row">
        @Html.Hidden("hidIdCliente")
        <div class="col-xlg-2 col-lg-4 col-md-5 col-sm-10 col-10">
            @Html.InputCpfCnpj("inpCnpjCliente", "", true, "CNPJ/CPF", "", new { @class = "form-control", @maxlength = "18" })
        </div>
        <div class="col-xlg-5 col-lg-12 col-md-12 col-sm-12 col-12">
            @Html.Input("inpRazaoSocialCliente", "", true, "Razão Social", "", new { @class = "form-control", @maxlength = "100" })
        </div>
        <div class="col-xlg-4 col-lg-9 col-md-12 col-sm-12 col-12">
            @Html.Input("inpNomeCliente", "", true, "Nome", "", new { @class = "form-control", @maxlength = "50" })
        </div>
    </div>
    <div class="block-title">Endereço:</div>
    <div class="block row">
        @Html.Hidden("hidIdEndereco")
        <div class="col-xlg-4 col-lg-9 col-md-12 col-sm-12 col-12">
            @Html.Input("inpLogradouroEndereco", "", true, "Logradouro", "", new { @class = "form-control", @maxlength = "50" })
        </div>
        <div class="col-xlg-1 col-lg-4 col-md-3 col-sm-6 col-6">
            @Html.Input("inpNumeroEndereco", "", false, "Número", "", new { @class = "form-control", @maxlength = "10" })
        </div>
        <div class="col-xlg-2 col-lg-4 col-md-4 col-sm-6 col-6">
            @Html.InputCep("inpCepEndereco", "", false, "CEP", "", new { @class = "form-control" })
        </div>
        <div class="col-xlg-2 col-lg-4 col-md-6 col-sm-12 col-12">
            @Html.Input("inpComplementoEndereco", "", false, "Complemento", "", new { @class = "form-control", @maxlength = "20" })
        </div>
        <div class="col-xlg-3 col-lg-6 col-md-8 col-sm-12 col-12">
            @Html.Input("inpDistritoEndereco", "", true, "Bairro/Distrito", "", new { @class = "form-control", @maxlength = "30" })
        </div>
        <div class="col-xlg-3 col-lg-6 col-md-8 col-sm-12 col-12">
            @Html.Select("selIdPais", null, true, "País", new { @class = "form-control select2" })
        </div>
        <div class="col-xlg-2 col-lg-6 col-md-8 col-sm-12 col-12">
            @Html.Select("selIdEstado", null, true, "Estado", new { @class = "form-control select2" })
        </div>
        <div class="col-xlg-3 col-lg-6 col-md-8 col-sm-12 col-12">
            @Html.Select("selIdMunicipio", null, true, "Município", new { @class = "form-control select2" })
        </div>
    </div>
</div>
