﻿@using PR.Building4U.WebUI.Helper
@using PR.Building4U.WebUI.Models

@{ ViewBag.Title = "Cadastro de Clientes"; }

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table id="tabelaCadastro" class="table table-bordered table-striped dataTable" style="width:100%"></table>
                </div>
            </div>
        </div>
    </div>
</div>

@{
    var botoes = new List<ButtonViewModel>()
    {
        new ButtonViewModel(){ Id = "btnCancelar", Text = "Cancelar", Icon = "fas fa-times", Color = "danger", Classe = "btn-rounded", Click = "cadastroClientes.Cancelar()" },
        new ButtonViewModel(){ Id = "btnSalvar", Text = "Salvar", Icon = "fas fa-check", Color = "info", Classe = "btn-rounded", Click = "cadastroClientes.Salvar()" }
    };

    var botoesDesativar = new List<ButtonViewModel>()
    {
        new ButtonViewModel(){ Id = "btnCancelar", Text = "Cancelar", Icon = "fas fa-times", Color = "danger", Classe = "btn-rounded", Click = "cadastroClientes.CancelarDesativar()" },
        new ButtonViewModel(){ Id = "btnConfirmar", Text = "Confirmar", Icon = "fas fa-check", Color = "info", Classe = "btn-rounded", Click = "cadastroClientes.ConfirmarDesativar()" }
    };
}

@Html.Modal("modalCadastro", "Cadastro de Cliente", Html.Partial("_Cadastro").ToString(), true, botoes)

@Html.Modal("modalDesativar", "Desativar Cliente", Html.Partial("_Desativar").ToString(), true, botoesDesativar)

<script>
    var urlListar = '@Url.Action("Listar", "CadastroClientes", new { Area = "" })';
	var urlIncluir = '@Url.Action("Incluir", "CadastroClientes", new { Area = "" })';
	var urlEditar = '@Url.Action("Editar", "CadastroClientes", new { Area = "" })';
	var urlDesativar = '@Url.Action("Desativar", "CadastroClientes", new { Area = "" })';
    var urlObter = '@Url.Action("Obter", "CadastroClientes", new { Area = "" })';
    var urlListarPaises = '@Url.Action("ListarPaises", "CadastroClientes", new { Area = "" })';
    var urlListarEstados = '@Url.Action("ListarEstados", "CadastroClientes", new { Area = "" })';
    var urlListarMunicipios = '@Url.Action("ListarMunicipios", "CadastroClientes", new { Area = "" })';
</script>