﻿@using PR.Building4U.WebUI.Helper

<div class="form">
    @Html.Hidden("hidIdObra")
    <div class="row">
        <div class="col-xlg-1 col-lg-2 col-md-3 col-sm-5 col-5">
            @Html.Input("inpCodigoObra", "", true, "Código", "", new { @class = "form-control", @maxlength = "5" })
        </div>
        <div class="col-xlg-3 col-lg-4 col-md-6 col-sm-12 col-12">
            @Html.Input("inpNomeObra", "", true, "Nome", "", new { @class = "form-control text-upper", @maxlength = "20" })
        </div>
        <div class="col-xlg-3 col-lg-5 col-md-6 col-sm-12 col-12">
            @Html.Select("selIdArea", (List<SelectListItem>)ViewBag.ListaAreas, true, "Área", new { @class = "form-control select2" })
        </div>
        <div class="col-xlg-3 col-lg-5 col-md-6 col-sm-12 col-12">
            @Html.Select("selIdContrato", null, false, "Contrato", new { @class = "form-control select2" })
        </div>
        <div class="col-xlg-2 col-lg-3 col-md-4 col-sm-7 col-7">
            @Html.InputData("inpDataOrdemServico", null, false, "Data OS", "", new { @class = "form-control" })
        </div>
        <div class="col-xlg-1 col-lg-2 col-md-3 col-sm-5 col-5">
            @Html.InputNumerico("inpPrazoOrdemServico", null, false, "Prazo OS", "", new { @class = "form-control", @maxlength = "4" })
        </div>
    </div>
    <div id="divGerTitle" class="block-title">Gerência:</div>
    <div id="divGetBody" class="block row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table id="tabelaGerencia" class="table table-bordered table-striped dataTable" style="width:100%"></table>
            </div>
        </div>
    </div>
</div>