﻿@using PR.Building4U.WebUI.Helper

<div class="form">
	<div class="row">
        <div class="col-xlg-12 col-lg-12 col-md-12 col-sm-12 col-12">
			@Html.Select("selIdGerencia", (List<SelectListItem>)ViewBag.ListaGerencias, true, "Gerência", new { @class = "form-control select2" })
		</div>
        <div class="col-xlg-12 col-lg-12 col-md-12 col-sm-12 col-12">
            @Html.Select("selIdFuncionario", null, true, "Funcionário", new { @class = "form-control select2" })
        </div>
	</div>
</div>