﻿@using PR.Building4U.WebUI.Helper
@using PR.Building4U.WebUI.Models

@{ ViewBag.Title = "Cadastro de Obras"; }

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table id="tabelaCadastro" class="table table-bordered table-striped dataTable" style="width:100%"></table>
                </div>
            </div>
        </div>
    </div>
</div>

@{
    var botoes = new List<ButtonViewModel>()
    {
        new ButtonViewModel(){ Id = "btnCancelar", Text = "Cancelar", Icon = "fas fa-times", Color = "danger", Classe = "btn-rounded", Click = "cadastroObras.Cancelar()" },
        new ButtonViewModel(){ Id = "btnSalvar", Text = "Salvar", Icon = "fas fa-check", Color = "info", Classe = "btn-rounded", Click = "cadastroObras.Salvar()" }
    };
    var botoesGerencia = new List<ButtonViewModel>()
    {
        new ButtonViewModel(){ Id = "btnCancelar", Text = "Cancelar", Icon = "fas fa-times", Color = "danger", Classe = "btn-rounded", Click = "cadastroObras.CancelarGerencia()" },
        new ButtonViewModel(){ Id = "btnSalvar", Text = "Salvar", Icon = "fas fa-check", Color = "info", Classe = "btn-rounded", Click = "cadastroObras.SalvarGerencia()" }
    };
}

@Html.Modal("modalCadastro", "Cadastro de Obra", Html.Partial("_Cadastro").ToString(), true, botoes)

@Html.Modal("modalCadastroGerencia", "Cadastro de Gerência", Html.Partial("_GerenciaCadastro").ToString(), true, botoesGerencia)

<script>
    var urlListar = '@Url.Action("Listar", "CadastroObras", new { Area = "" })';
    var urlIncluir = '@Url.Action("Incluir", "CadastroObras", new { Area = "" })';
    var urlEditar = '@Url.Action("Editar", "CadastroObras", new { Area = "" })';
    var urlExcluir = '@Url.Action("Excluir", "CadastroObras", new { Area = "" })';
    var urlObter = '@Url.Action("Obter", "CadastroObras", new { Area = "" })';
    var urlListarContratos = '@Url.Action("ListarContratos", "CadastroObras", new { Area = "" })';
    var urlListarGerencias = '@Url.Action("ListarGerencias", "CadastroObras", new { Area = "" })';
    var urlIncluirGerencia = '@Url.Action("IncluirGerencia", "CadastroObras", new { Area = "" })';
    var urlExcluirGerencia = '@Url.Action("ExcluirGerencia", "CadastroObras", new { Area = "" })';
    var urlListarFuncionarios = '@Url.Action("ListarFuncionarios", "CadastroObras", new { Area = "" })';
</script>