﻿@using PR.Building4U.WebUI.Helper

@{ ViewBag.Title = "Aprovação Necessário QMO"; }

@Html.Partial("_Filtro")

<div class="row" id="rowTabela" style="display:none;">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table id="tabelaCadastro" class="table table-bordered table-striped dataTable" style="width:100%"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var urlListar = '@Url.Action("Listar", "NecessAprovFuncionario", new { Area = "" })';
	var urlAprovar = '@Url.Action("Aprovar", "NecessAprovFuncionario", new { Area = "" })';
    var urlReprovar = '@Url.Action("Reprovar", "NecessAprovFuncionario", new { Area = "" })';
    var urlListarObras = '@Url.Action("ListarObras", "NecessAprovFuncionario", new { Area = "" })';
</script>