﻿@using PR.Building4U.WebUI.Helper

<div class="form">
    @Html.Hidden("hidIdMunicipio")
    <div class="row">
        <div class="col-xlg-1 col-lg-2 col-md-3 col-sm-4 col-4">
            @Html.InputNumerico("inpCodigoMunicipio", "", true, "Código", "", new { @class = "form-control numerico", @maxlength = "4" })
        </div>
        <div class="col-xlg-4 col-lg-9 col-md-12 col-sm-12 col-12">
            @Html.Input("inpNomeMunicipio", "", true, "Nome", "", new { @class = "form-control", @maxlength = "50" })
        </div>
        <div class="col-xlg-3 col-lg-6 col-md-9 col-sm-12 col-12">
            @Html.Select("selIdPais", null, true, "País", new { @class = "form-control select2" })
        </div>
        <div class="col-xlg-2 col-lg-5 col-md-7 col-sm-12 col-12">
            @Html.Select("selIdEstado", null, true, "Estado", new { @class = "form-control select2" })
        </div>
    </div>
</div>